[2020-07-20 18:37] oriolcg commented on #322
Thanks @fverdugo, this was very helpful. Here I attach the final working code in case it is needed for somebody else:
[code]

Do you think it would be useful to have it as a function in Gridap?

[2020-07-22 07:07] fverdugo commented on #325
I see the point of having in-place versions but I am not sure if broadcast is the abstraction we are looking for.

I would say that the only operations we want to perform with `FEFunctions` via their free values are addition, subtraction and scaling. Adding new methods to `sum!` an `mul!` will do the job.

[2020-07-22 07:09] santiagobadia commented on #325
Sure, these methods must be there... I was wondering whether we could use dot notation for some syntactic sugar. Do you think this is it misleading?

[2020-07-22 07:14] fverdugo commented on #325
Yes, quite misleading:

`wh = uh + uh` and  `wh .= uh .+ uh` both make sense, but

`wh = uh ⊙ uh` makes sense but `wh .= uh .⊙ uh`  would make no sense if you interpret broadcast in therms of free values

[2020-07-22 07:18] fverdugo commented on #325
The thing is that broadcast is applying an operation to the items of an array. A FEFunction is  understood as an array of fields (not as an array of free values). That is:  these two currently give the same numeric answer (with a different memory layout):
[code]

[2020-07-22 07:22] fverdugo commented on #325
If you want to use broadcast syntax, perhaps the best way is to get the free values and work with them explicitly.

[code]

[2020-07-22 07:32] santiagobadia commented on #325
Ok, the point was a more compact version that would not require the user to write this (which is probably not what we want, by the way, you would also need to take care of Dirichlet data). It is true that the dot notation has sense for array operations, but not for the all the ones that have sense for FEFunctions. So, we could just use function names, no operator overload. It is a performance tric

[2020-07-22 07:48] fverdugo commented on #325
Yes!

in fact i like getting the free values and using broadcast with them. It is 100% inteniton revealing. And it  is just 1 LOC more:
[code]

[2020-07-22 07:59] santiagobadia commented on #325
Ok, agreed but you need
[code]
it is OK anyway

[2020-07-22 07:59] santiagobadia commented on #325
I think I can close the issue

[2020-07-22 07:59] #325 closed

[2020-07-22 08:32] fverdugo opened #326 "Extend FEFunctions to behave like lin alg vectors"
Perhaps we can add new methods to our lin alg interfaces

https://github.com/gridap/Gridap.jl/blob/master/src/Algebra/AlgebraInterfaces.jl

so that `FEFunctions` behave like linear algebra vectors

The functions to extend include `fill_entries!` , `add_entries!` , and `scale_entries!`, which should modify both free and dirichlet values.

I also would overload `wh = similar(uh)`  so that we can imp

[2020-07-22 08:34] fverdugo commented on #326
related with issue #325

[2020-07-22 09:13] fverdugo commented on #323
@amartinhuertas This looks like there is a 0-lengh array degenerated case that is not properly handled in the code, right?

[2020-07-22 09:47] amartinhuertas commented on #323
Yes, it is definitely a corner case. Reproduced whenever you try to evaluate a SourceFETerm on a void boundary mesh.

[2020-07-22 09:49] fverdugo commented on #323
It's definitively a bug. I am fixing it. As you very well noticed, it is related with testitem

[2020-07-22 09:55] amartinhuertas commented on #323
Great! Thanks! Note that there is a reproducer above to simplify things up.

Some day (not urgent) I would like that you give me some tips on the machinery that is in charge of the lazy evaluation of FETerms ... I think if I could grasp better what the code is doing, I could debug it myself, and better understand the side-effects.

[2020-07-22 10:01] fverdugo commented on #323
yes sure!

[2020-07-23 08:27] fverdugo commented on #323
solved via #329

[2020-07-23 14:17] amartinhuertas commented on #323
Hi @fverdugo,

Thanks for your work!

Let me just note that, after pulling your bug fix, I am still having issues with `DistributedStokesTests.jl`. I just found the error, and have to dig deeper into into.  However, it wouldn't be mad to claim that it might be related to this thread, because the error message triggered is the same as the one that we had so far. Interestingly enough, it happens dur

[2020-07-23 14:24] fverdugo commented on #323
Yes, it is related with the degenerated case of triangulations with 0 cells. In PR #329, I have added some methods in the `Kernel` interface in order to handle these cases, but as you can see, I have not implemented them for all the specializations of `Kernel` we have in the library (I implemented only the ones needed for your previous reproducers.). Implementing it for the `LinCom` kernel should

[2020-07-23 15:05] fverdugo commented on #323
Hope this fixes it: PR #331

[2020-07-24 01:55] amartinhuertas commented on #323
Seems that implementing the methods for the appropriate realization of `Kernel` solves the issue:

https://travis-ci.com/github/gridap/GridapDistributed.jl/jobs/364455303#L918

Thanks! Closing the issue.

[2020-07-24 01:56] #323 closed

[2020-07-24 15:42] fverdugo commented on #79
@santiagobadia @oriolcg

I have found another approach to use autodiff. I am not using caches at the moment, but I believe that including them with this approach should be easy. I am only considering the computation of residuals from an energy. Jacobians from residuals should be analogous.

[code]

[2020-07-26 17:44] TeroFrondelius opened #333 "joss-paper: fix JUMP citation"
Here https://github.com/jump-dev/JuMP.jl#citing-jump it says:

If you find JuMP useful in your work, we kindly request that you cite the following paper (pdf):

author = {Iain Dunning and Joey Huchette and Miles Lubin},
title = {JuMP: A Modeling Language for Mathematical Optimization},
journal = {SIAM Review},
volume = {59},
number = {2},
pages = {295-320},
year = {2017},
doi = {10.1137/15M1020575

[2020-07-26 23:08] PetrKryslUCSD opened #334 "joss-paper: Software design"
Starting on page 1, in the sentence beginning with "In contrast...": The paper introduces some concepts which are in my opinion described at a level that does not/cannot provide any real insight.

For instance, when I hear "cell -wise" I can certainly form a mental picture, but the detail supplied in the paper is not sufficiently granular to allow me to judge the agreement or disagreement of that

[2020-07-26 23:09] PetrKryslUCSD opened #335 "joss-paper: Missing operators"
The weak form definition is incomplete: the gradient operators and the dot product operator are missing. Perhaps the font did not include these symbols?

[2020-07-26 23:19] PetrKryslUCSD opened #336 "joss-paper: Build tutorials not described"
The readme does not describe how to get the tutorial notebooks opened from a cloned  repository. In particular, when the repository is cloned, there are no notebooks. They need to be built. The build step is not documented. It appears to be activate/instantiate/build.
Then one can open a notebook with `IJulia.notebook()`.

[2020-07-27 05:57] santiagobadia commented on #79
I was thinking about using an `AppliedArray` with a `ForwardDiff` kernel, and re-use all the cache machinery we have already implemented at `Gridap`. I guess it is so naive that I am missing something, we can discuss it. The following code works, and I would expect `T = typeof(kernel_testitem(gi,fi...)` to do the work for me, together with the `array_cache` machinery in `Gridap`. Where is the flaw

[2020-07-27 11:11] santiagobadia opened #337 "Adjoints of FEOperators"
We want to create adjoints of `FEOperator`s. In this sense, I propose a method like
[code]
where `op` is a `FEOperator, `uh` is the solution. We have discussed to include there the `RHS`, but it would be misleading, it has nothing to do with the adjoint. Instead, I would return a `AffineFEOperator` with zero right hand side and create a method that takes `adj_op` and the `rhs` separately.

The int

[2020-07-27 12:33] fverdugo commented on #336
Related to  https://github.com/openjournals/joss-reviews/issues/2520

[2020-07-27 12:35] fverdugo commented on #335
Related to https://github.com/openjournals/joss-reviews/issues/2520

[2020-07-27 12:35] fverdugo commented on #334
Related to https://github.com/openjournals/joss-reviews/issues/2520

[2020-07-28 14:54] #322 closed

[2020-07-28 15:02] fverdugo commented on #333
@TeroFrondelius I have fixed the JuMP citation as you suggested.

If you are happy with the changes, please close the issue.

[2020-07-28 15:06] fverdugo commented on #334
@PetrKryslUCSD Following your suggestion, I have simplified the paragraph about software design. I have opted for not introducing concepts that cannot be properly explained in such compact document.

If you are happy with the changes, please close the issue.

[2020-07-28 15:14] fverdugo commented on #335
@PetrKryslUCSD The operators are in the paper.md source file, but they are not visualized correctly.

In standard .tex documents to be compiled with pdflatex, I am able to display these operators by including
[code]
in the preamble.  However, I do not know how to achieve this in this for the JOSS paper.

Dear editor  @Kevin-Mattheus-Moerman, could you provide any hint on how to fix this? Could you

[2020-07-28 15:18] fverdugo commented on #336
@PetrKryslUCSD The steps to clone, build and open the notebooks of the Gridap tutorials are explained in the documentation pages of the tutorials repository https://gridap.github.io/Tutorials/stable/

In the read-me file of https://github.com/gridap/Tutorials there is a link to the documentation pages. Do you believe this is not enough?

[2020-07-28 15:30] PetrKryslUCSD commented on #336
My

[2020-07-28 15:33] PetrKryslUCSD commented on #336
My comment was based on the order in which the user would proceed. If I start with the readme, follow the link to the stable version of the tutorials, and click on the first tutorial I can see how to run it in the mybinder, but I don't know how to run it on my own machine.  So I go back to the readme.

Honestly, I missed the description that is below the list of tutorials. My bad. But I think it p

[2020-08-02 07:33] Kevin-Mattheus-Moerman commented on #335
@fverdugo could you paste the code generating the desired expression here? Also could you share a screenshot of the expression being rendered correctly (e.g. using a different Latex editor)? I'll have out development team look at it then.
Worst case an ugly but practical solution would be to represent the expression as an image in the paper instead.

[2020-08-05 10:50] Kevin-Mattheus-Moerman commented on #335
@fverdugo :point_up:

[2020-08-05 13:07] fverdugo commented on #335
This is a MWE with some code snippets containing the Greek operators.

Consider a file `main.tex` with these contents:
[code]

Compile it with pdflatex
[code]
Result:
[main.pdf](https://github.com/gridap/Gridap.jl/files/5028555/main.pdf)

As I have said, the trick is to include these lines in the preamble:
[code]

[2020-08-05 13:10] #334 closed

[2020-08-05 13:17] fverdugo commented on #335
@Kevin-Mattheus-Moerman

[2020-08-05 13:24] fverdugo commented on #336
Perhaps the problem is that the instructions on how to build the notebooks are not in the section called **How to start**.

https://gridap.github.io/Tutorials/stable/#How-to-start-1

I'll try to fix this.

[2020-08-05 16:24] fverdugo commented on #336
Hi @PetrKryslUCSD

I have rewritten the confusing part. I hope that now it is better:

https://gridap.github.io/Tutorials/v0.12/

If you are happy with the changes, please close the issue.

Thanks!

[2020-08-05 17:08] #336 closed

[2020-08-06 11:06] TeroFrondelius opened #342 "joss paper: OSI approved software license?"
Hi,
I really like your idea to add Citing Gridap and Contributing to Gridap titles to the LICENSE.md file. However, I have to compare the text here: https://opensource.org/licenses/MIT and it's not matching. I think this might be the reason why Github is not automatically recognized your license to be MIT. I hope you can find a solution to keep the extra stuff in because I really see the benefit.

[2020-08-06 11:17] #333 closed

[2020-08-06 11:25] TeroFrondelius opened #343 "joss paper: Contribution and authorship"
I think that in Engineering we have too few authors in all papers. Anyway, I checked the contributions and the best of my understanding @victorsndvg has made some major contributions and could be listed as joss-paper author.

Xref: https://github.com/openjournals/joss-reviews/issues/2520

[2020-08-08 03:38] santiagobadia commented on #343
@TeroFrondelius thanks for the suggestion. In any case, we would like to keep the list of authors is it is. @fverdugo and myself were the ones that started the project, designed its kernel, and the only developers during the first stage of the project.

[2020-08-08 03:39] santiagobadia commented on #342
After some research, it seems there is no way for GitHub to automatically detect an _enriched_ license file. The only two possibilities are: 1) to remove the citation, certificate of origin, etc, and keep the plain MIT license or 2) to keep it without the Github detection.

We would like to keep it as it is, if possible, since we have not modified a line of the MIT license and I consider that our

[2020-08-08 15:49] jw3126 opened #345 "Evaluate PDE solution"
Thanks a lot for creating Gridap! Its awesome to have such a PDE package in pure julia. So say I solved a PDE using Gridap,
how do I actually evaluate the solution?

[code]
I tried the following, both of which did not work:
[code]

[2020-08-09 23:03] Omega-xyZac commented on #345
I would also really like to know the answer to this problem.

[2020-08-10 05:10] santiagobadia commented on #345
What you are asking is possible, but not standard in finite element methods. Usually, in finite element methods, you evaluate the solution in the mesh nodes, and you would do it like this:

[code]

You could also evaluate them in a given integration quadrature

[code]

or you could choose to evaluate it in the point you choose, e.g., in the middle of each cell (element)

[code]

or just write the

[2020-08-10 06:34] Omega-xyZac commented on #345
Thank you for this fantastic answer. It might be worth mentioning this in the tutorial/documentation - unless I missed it of course.

[2020-08-10 08:52] santiagobadia commented on #345
Yes, we can do it and add, e.g., one case in which the user defines the array of points.

@fverdugo In order to provide a more general evaluation of FE functions, we could do:

Create methods that return the mesh nodes in the physical space and the reference space.

The result is a new `CellPoints` struct, an array of arrays of points with a trait `DefSpace` that can be `Reference` or `Physical`.

[2020-08-10 09:05] #79 closed

[2020-08-10 09:06] santiagobadia opened #346 "Autodiff for multi-field and skeleton terms"
Now, we can compute residuals and Jacobians using `ForwardDiff`.

However, there is still some work to do to exploit autodiff for

* Multi-field terms
* Skeleton terms

Issue to be enriched in the future...

[2020-08-10 09:17] jw3126 commented on #345
Thanks a lot for the comprehensive answer @santiagobadia ! I think being able to evaluate the solution at points (even with bad performance) makes using Gridap extremely lightweight. E.g. one can easily visualize arbitrary slices of the solution without ever leaving julia and without additional API:
[code]

[2020-08-10 11:48] TeroFrondelius commented on #342
I come from a corporate background and the legal department can be a big pain in the ass. Thus, I want you to avoid a similar situation than this famous JSLint case https://www.youtube.com/watch?v=-hCimLnIsDA

[2020-08-10 12:54] TeroFrondelius opened #348 "joss paper: list of references"
Currently, you don't have any general FEM or algorithms citations, also the number of citations seems a bit too low for me. Could you add some references here:

techniques, including continuous and discontinuous FE methods with Lagrangian, RaviartThomas, or Nédélec interpolations

Also here, if you have a good reference(s):

of data associated with the cells of the computational mesh in a convenie

[2020-08-10 13:18] TeroFrondelius commented on #343
Here: https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort, it defines 1000 LOC as a major contribution. Of course, I didn't look very detailed, but @victorsndvg has contributed 5903 LOC in 78 commits.

[2020-08-10 14:26] jw3126 opened #349 "Distributive law violated"
The following are mathematically equal
[code]
yet they yield very different results in the following code:
[code]
[code]

[2020-08-10 15:07] fverdugo commented on #349
It seems to be a bug.

This part of the code is currently under a MASSIVE refactoring.

I hope your example works fine once the refactoring is done.

[2020-08-10 15:10] jw3126 commented on #349
Would you like a PR with an `@test_broken` involving this example?

[2020-08-10 15:16] fverdugo commented on #349
Yes, please.

Put it in a file `test/issue_349.jl` and include it in `test/runtests.jl`.

Open your PR against `release-0.14` instead of `master`

[2020-08-10 23:55] santiagobadia commented on #342
Ok, we have now put a plain MIT license, which is detected by Github. I close the issue.

[2020-08-10 23:55] #342 closed

[2020-08-11 06:39] santiagobadia commented on #343
As far as I can see, this number is about the min scholarship effort of the project to be accepted. We consider that LOC alone do not give much information. E.g., it is not the same to create wrappers using clang than designing the kernel of Gridap.

Victor created wrappers to PETSc and re-implement in Julia the COO matrices and compression algorithms in our previous [project](https://github.com/f

[2020-08-11 06:44] santiagobadia commented on #348
We have added a reference with respect to the finite element abstractions.

We do not have references for the other two sentences, but right after these sentences we explain what do they mean.  The software design is new, it is the first paper about Gridap, and since JOSS articles are not full-length articles, we cannot explain them with more detail here.

[2020-08-11 07:40] jw3126 commented on #345
How would one implement this function in case of linear Lagrangian?

[2020-08-11 07:48] santiagobadia commented on #345
It is already implemented. If you use it in your example, you should get the values on the nodes of each cell.

[2020-08-11 08:04] jw3126 commented on #345
Ah right, it is available as `Gridap.FESpaces.get_cell_values`.

[2020-08-11 08:45] TeroFrondelius commented on #343
I accept the explanation, even though I don't fully agree. Engineering and mathematics should learn from medical and physics, where the list of authors is much longer and smaller contributions to the research are also recognized.

[2020-08-11 08:45] #343 closed

[2020-08-11 09:00] TeroFrondelius commented on #348
Still, the total number of References seems low to me, comparing this is a fully-featured FEM package. Nevertheless, it's impossible to add a lot of references to a short text.

[2020-08-11 09:00] #348 closed

[2020-08-11 09:22] TeroFrondelius opened #353 "joss paper: memory benchmark"
In the paper, you have this statement:

It would be really cool to benchmark this. We have had in JuliaFEM this benchmark case ([here is the paper](https://rakenteidenmekaniikka.journal.fi/article/view/64224/26397)):
![image](https://user-images.githubusercontent.com/12501534/89879688-f98f8d00-dbcb-11ea-9fb1-96a60dea87e4.png)

Unfortunately, we don't mention memory usage, probably because it's hug

[2020-08-11 10:44] santiagobadia commented on #353
Due to the fact that the paper must be very short, we would like to skip performance analyses here. As stated in the JOSS rules, a performance analysis is only needed to support a performance claims in the article. **If you consider that this is a performance claim, we can eliminate it.** In any case, the statement is true, since the storage of the cell-wise element matrices replicates the entries

[2020-08-12 04:05] Omega-xyZac opened #355 "Implementation Issue: Linear Elastic on a single square element"
Hi guys,
I would appreciate any tips that you can give with the following issue. I am trying to implement a very simple linear elastic problem. In the problem we have a single square element (so that the FEM could be done analytically with ease). The structure on paper is
[code]
Point 1 is fixed in the x-direction and point 4 is fixed in the x and y directions. Point 2 and 3 have a force of 1 in t

[2020-08-12 08:53] santiagobadia commented on #355
With regard to the bilinear form, I think that all you need is in this tutorial

https://gridap.github.io/Tutorials/dev/pages/t002_validation/

you can see a non-zero forcing term there:

[code]

With regard to point loads, the answer is not so short, and somehow related to the one about point-wise evaluations of FE functions.

A point load can be mathematically represented as a distribution, e.g.

[2020-08-12 09:02] santiagobadia opened #357 "Add DiractDistribution for point "things""
A point load can be mathematically represented as a distribution, e.g., a Dirac delta. It breaks the `Gridap` flow, since one cannot use Gauss quadratures and numerical integration (what we usually do in FEM) to compute the integral of f*v in that case.

I don't want to consider hacks, e.g., touch the vector entry in a particular node in which you want to put the force  (assuming the force is on a

[2020-08-12 09:42] Omega-xyZac commented on #355
Thank you for the great reply, really appreciate the in-depth response.

[2020-08-12 09:42] #355 closed

[2020-08-12 11:55] TeroFrondelius commented on #353
Naturally, my motivation is to get the benchmark in the paper, to get a citation to JuliaFEM paper.

[2020-08-12 22:19] santiagobadia commented on #353
Now we have added a citation to your paper.

As commented above, we are not making performance claims against your software or any other of the software projects we have cited, so we are not going to include performance analyses.

Please, make a decision based on this, and inform the editor @Kevin-Mattheus-Moerman about your final decision.

[2020-08-13 02:16] mohamed82008 opened #361 "`finalize_coo!` does not check and add diagonal entries as claimed in the docstring"
The following implementation of `finalize_coo!` does nothing while the docstring says that this function should "Check and insert diagonal entries in COO vectors if needed." When is it "needed"?
https://github.com/gridap/Gridap.jl/blob/28dd80b2ad2c099a85c030f4d6670552f8a2fdb5/src/Algebra/SparseMatrixCSC.jl#L23

[2020-08-13 02:19] mohamed82008 opened #362 "`is_entry_stored` has a confusing name"
The name `is_entry_stored` is confusing because here for example, it is always true.
https://github.com/gridap/Gridap.jl/blob/28dd80b2ad2c099a85c030f4d6670552f8a2fdb5/src/Algebra/SparseMatrixCSC.jl#L15
Reading the docstring, I understand why it is always true here. But maybe `can_insert_entry` is a better name.

[2020-08-13 03:36] santiagobadia commented on #361
It is needed here, when we want to exploit symmetry

https://github.com/gridap/Gridap.jl/blob/28dd80b2ad2c099a85c030f4d6670552f8a2fdb5/src/Algebra/SymSparseMatrixCSR.jl#L33

[2020-08-13 03:44] santiagobadia commented on #362
It is just used for symmetric matrices, in which case it returns `false` when `i > j`. In that case, the entry is stored in (added to) the `[j,i]` entry instead.

I am not sure about what is better. Something link `is_entry_stored_in_ij`? Probably a minor point.

I think that `can` can be misleading too.

[2020-08-13 03:47] santiagobadia commented on #361
By the way, if you think that docstrings can be added/improved in the process, more than welcomed!
I know that there are parts that are poorly documented.

[2020-08-13 04:37] santiagobadia opened #363 "Misc renaming and minor changes after low-level tutorial"
@fverdugo I list the proposed changes after the ellaboration of the low-level FE tutorial. Please, revise the list.

1. Now `mutable` returns a type. `mutable` should return an object with a copy of the input state and `Mutable` a type, so that we can write `m = zero(mutable(x))`

2. Renaming `get_cell_dofs -> get_cell_dof_values`

3. Make `get_cell_nodes` `get_node_coordinates` available for gene

[2020-08-13 07:11] Omega-xyZac commented on #357
As an aside to this, how would you do the 'hack' in this case? I would implement the above but I don't think I have enough experience in Gridap just yet.

[2020-08-13 08:48] TeroFrondelius commented on #353
Thanks. I close this issue because it's joss paper related. We will need to open new issues both in Gridap and JuliaFEM repos or discourse topic about FEM benchmarking. Maybe the benchmark could be a separate repo, where everyone could upload their model/results. Could we even run the benchmark on Travis CI or similar?

[2020-08-13 08:48] #353 closed

[2020-08-13 11:29] mohamed82008 commented on #362
I see. I think the documentation can just be clarified without changing the name if there is no better name.

[2020-08-13 11:30] mohamed82008 commented on #361
Sounds good. I will try to contribute my understanding to the docs.

[2020-08-13 14:17] jw3126 commented on #346
I would love to have Multi field autodiff. Is it hard? Does it depend on other ongoing work or is it isolated? What needs to be done?

[2020-08-13 15:10] fverdugo commented on #346
@jw3126 Short answer: Yes it is hard.

I am doing a quite large refactoring (upcoming in version 0.14) in order to support autodiff + multifield and skeleton.

[2020-08-13 15:53] fverdugo commented on #335
@Kevin-Mattheus-Moerman
@PetrKryslUCSD

I have added the code sniped as a figure. Now the code symbols are visualized correctly.

https://raw.githubusercontent.com/openjournals/joss-papers/joss.02520/joss.02520/10.21105.joss.02520.pdf

You can close the issue, please.

[2020-08-13 16:20] PetrKryslUCSD commented on #335
Resolved

[2020-08-13 16:20] #335 closed

[2020-08-14 04:53] Omega-xyZac opened #367 "Adding an element/face to a tag"
Is this currently possible? ie, I have 2D cartesian elements with id 1-1800. I want to add some of these elements to a tag "material_2" so that I can introduce a multi-material problem.

[2020-08-14 05:54] jw3126 commented on #346
Ok great!

[2020-08-14 07:10] fverdugo commented on #367
You have to add a new entity and tag to our model:

[code]

[2020-08-14 07:20] oriolcg commented on #367
Hi @Omega-xyZac , I did something similar some time ago. You can check this issue #322. The final working code is given in the following link: https://github.com/gridap/Gridap.jl/issues/322#issuecomment-661263254

[2020-08-14 11:35] jw3126 opened #368 "Issue with boundary integrals in 1d"
From gitter:
[code]
[code]

[2020-08-14 14:52] #367 closed

[2020-08-14 21:45] Omega-xyZac commented on #322
Thanks guys! That is very helpful.

[2020-08-14 21:45] Omega-xyZac commented on #367
Thanks for the help guys. That is very helpful.

[2020-08-18 02:05] Omega-xyZac opened #371 "Point and Line Dirichlet Tags"
Hi,
I'm trying to run a simple 2D linear elasticity model on gridap on a a 2x2 grid of square elements. The left boundary is constrained in the x direction and to fully constrain the model the top left point should have a xy-support. There is then a Neumann bc applied to the right boundary. I tried doing this using the Dirichlet tags and Dirichlet masks as per the tutorial, however it is clear fro

[2020-08-18 05:54] fverdugo commented on #371
I think you want something like this

[code]

[2020-08-18 06:51] Omega-xyZac commented on #371
No luck. It doesn't seem to actually be constraining the top left point in the y direction. I think the left boundary is fine and is constrained in the x direction though.

[2020-08-18 09:41] fverdugo commented on #371
It works fine for me.

[code]

v_x is constrained at the left boundary:

![v_x](https://user-images.githubusercontent.com/48508177/90497601-8a73e480-e147-11ea-86e0-10bc980a6b49.png)

v_y is constrained at the top left-point

![v_y](https://user-images.githubusercontent.com/48508177/90497644-98296a00-e147-11ea-9e49-182de4990b80.png)
:

[2020-08-18 09:41] fverdugo commented on #371
I have used Gridap@0.13.3 (the latest version as of today)

[2020-08-18 09:42] #371 closed

[2020-08-21 04:32] Omega-xyZac opened #373 "Multimaterial Bug (tags)"
Hi, I've been working on implementing a 2D multi-material plane stress problem in Gridap using Voigt notation. The given stiffness matrix looks good but when adding tags to specify different materials I'm getting an error. Below is the @law functions for the bilinear form a and the definition for a.
[code]
This code should just treat the whole multi-material problem as a single material. However,

[2020-08-25 05:11] #349 closed

[2020-08-25 07:04] jw3126 commented on #326
Another possible API is to add "arrayview" as a thin wrapper. E.g. something like
[code]
So for algebra, you can switch to vector view and use all the usual notation.

[2020-08-25 11:23] amartinhuertas opened #380 "BUG with restricted BoundaryTriangulation?"
Hi @fverdugo,

after updating `GridapDistributed.jl` to point to the most recent version of `Gridap.jl` master (i.e., commit 5d8ba281f8e96c63235be59a5821c7eda23ac5bf at the moment of writing this), I found that the test `DistributedPoissonDGTests.jl` of `GridapDistributed.jl` is now broken.

In particular, an `AssertionError` is internally thrown from `Gridap.jl` when executing this line of `Distr

[2020-08-25 12:28] fverdugo commented on #380
Can you provide a MWE, if possible without depending on GridapDistributed?

[2020-08-26 03:58] amartinhuertas commented on #380
Ok, if the error message does not ring a bell, I will work out a small reproducer and come back to you.

[2020-08-26 09:46] amartinhuertas commented on #380
I have the reproducer! See the code below. In particular, the issue documented above is produced within the last line of code.

I would say that the issue is here:

https://github.com/gridap/Gridap.jl/blob/master/src/CellData/CellFields.jl#L306

`cm` is of size 12, while `cf1` is of size 4 (the restriction of the boundary triangulation to the 4 facets in locally owned cells).

[code]

[2020-08-26 12:49] fverdugo opened #385 "`ReferenceFE` factory function"
It would be nice to have a factory function with several kw-args for the creation of `ReferenceFE` instances. Like we have for `FESpace`.

Example:
[code]
This would be nice for several reasons. One of them is that it reduces the number of arguments in `FESpace` function.

Any volunteer ?

[2020-08-26 13:00] fverdugo commented on #385
BTW, `FESpace` already accepts an instance of `ReferenceFE`. E.g., this is currently working (for 3D obviously):

[code]

[2020-08-26 13:02] fverdugo commented on #346
Closed via PR #383

[2020-08-26 13:02] #346 closed

[2020-08-26 19:33] oriolcg opened #388 "Gradient of a constant times vector not working"
Hi @fverdugo @santiagobadia ,

In the latest version of Gridap (@0.14) I have an error when taking the gradient of a constant times a vector, see the following reproducer. This is needed when operating with averaged quantities, e.g. `ϵ(uθ)=ϵ(θ*u+(1-θ)*uₙ)`.
[code]
The problem that I get is caused by the fact that the operation `*` between the constant and the vector converts the constant to a `Cel

[2020-08-27 04:33] amartinhuertas commented on #380
Hi @fverdugo,

thanks for your work!

After your bug-fix, `DistributedPoissonDGTests.jl` is now passing! (https://travis-ci.com/github/gridap/GridapDistributed.jl/builds/181576238#L915)

However, there is still an (I would say unrelated) issue with `DistributedStokesTests.jl` (https://travis-ci.com/github/gridap/GridapDistributed.jl/builds/181576238#L944). I will investigate further the cause of t

[2020-08-27 05:50] amartinhuertas commented on #380
Forget about the post above. All `GridapDistributed.jl` are now passing (on my local machine). I still have to understand what it's going on Travis, seems to be a missconfiguration of the Package manager, that is using the latest registered version of Gridap.jl, instead of the want I am pointing to explicitly from `Manifest.toml` (i.e. the latest commit in #master).

Closing the issue. Thanks for

[2020-08-27 05:52] #380 closed

[2020-08-27 06:13] fverdugo commented on #380
Perfect. If you want to use Gridap#master on travis, consider something like:

[code]

[2020-08-27 06:14] amartinhuertas commented on #380
Yes, this is precisely what I did. It now works. I don't understand why I need that now, and not before ...

[2020-08-27 06:30] fverdugo commented on #388
I don't understand why in version 0.13 worked and not in 0.14. This part seems the same (perhaps I am missing something). In both cases the `Number` object gets inserted into a `Fill` right?

[2020-08-27 07:24] fverdugo commented on #388
Now  I see, in Gridap 0.13 this method
https://github.com/gridap/Gridap.jl/blob/1a6fd727805325b62bfe41899e8a101e69ad1d3e/src/Fields/FieldOperations.jl#L290
was not called (in contrast what I was expecting). The methed that is being called is the default one:
https://github.com/gridap/Gridap.jl/blob/1a6fd727805325b62bfe41899e8a101e69ad1d3e/src/Fields/FieldArrays.jl#L144

Which iterates over cells a

[2020-08-27 07:28] fverdugo commented on #388
**In conclusion,**  We need to replace this (which is never called)
[code]
to this:

[code]

Idem for `a,b::Number`

@oriolcg can you do this ? and add some test that checks that it is indeed working?? Thanks!

[2020-08-27 07:55] oriolcg commented on #388
Yes, I'll create a PR for this. Thanks for the help!

[2020-08-27 08:51] oriolcg commented on #388
Now it tells me that it's ambiguous:
[code]
I guess it's because both arguments are arrays, but is `Gridap.TensorValues.VectorValue{2,Float64} <: Number`?

[2020-08-27 09:06] fverdugo commented on #388
You can implement the extra method. But this is a bit extrange, are you calling something like `field_array_gradient(fill(1.0,l)*fill(3.0,l))` ??

[2020-08-27 09:11] oriolcg commented on #388
No, one fill has a constant and the other a VectorValue, something like that:
[code]

[2020-08-27 09:14] fverdugo commented on #388
Yes, sure. If you want to call this, then you need to implement the extra method.

[2020-08-27 09:47] oriolcg commented on #388
OK, I see now. I should use a `Field`.  I'm creating the PR now.

[2020-08-27 11:05] #388 closed

[2020-08-27 13:09] fverdugo commented on #368
About to be fixed in PR #393

[2020-08-27 13:50] fverdugo commented on #368
Closed via PR #393

[2020-08-27 13:50] #368 closed

[2020-09-08 06:37] bhaveshshrimali opened #398 "Indicial notation for constitutive laws in finite elasticity"
Hi all,

Finally started experimenting with Gridap after a long overdue :)

I had a very basic question
What is the best way in Gridap to include indicial notation as in continuum mechanics. For instance, in the following I would like to calculate the tangent modulus `L = dS/dF` which could be given component wise as `mu * one[i,k]*one[j,l] + ...`

[code]

Albeit for this simple case it may not be

[2020-09-08 09:27] santiagobadia commented on #398
Probably, the easiest way to implement this is defining the `law` after applying the direction, e.g.,
[code]
You need a `SymmetricTensorValue`, because you will use `L(∇u,∇du)⊙ ε(dv)` in your bilinear form.

Alternatively, you could use a `SymmetricFourthOrderTensor` for `L(∇u)` but probably more complicated.

[2020-09-08 09:29] santiagobadia commented on #398
By the way, even though not in the tests yet, you can also use autodiff.
Just define the residual and the tangent operator is automatically calculated.
Take a look [here](https://github.com/gridap/Gridap.jl/blob/master/test/GridapTests/PLaplacianWithAutodiffTests.jl).

[2020-09-08 18:30] bhaveshshrimali commented on #398
Thanks @santiagobadia !!
Right, I was thinking more like `L(∇u,∇du)⊙ ∇v` but in any case the tangent (right now) will have major symmetry so either should work.

This is fantastic. I will definitely check it out.

On a slightly related note, I am trying to implement a simple 3D hyperelasticity example for understanding Gridap usage. In fact it is the [FEniCS hyperelasticity example](https://fenics

[2020-09-08 18:45] fverdugo commented on #398
Hi @bhaveshshrimali

This looks like an old error (issue #286). It should be fixed. Which version are you using?

[2020-09-08 18:52] bhaveshshrimali commented on #398
Ah. I am using `0.9.2`

[2020-09-08 18:55] fverdugo commented on #398
This is way too old. Use the latest one v0.14.0

[2020-09-08 19:23] bhaveshshrimali commented on #398
In trying to update Gridap to v0.14.0, namely
[code]

it seems to be incompatible with `GridapPardiso` and `GridapODEs` for some reasons. Removing those in the meantime still gave errors with `DifferentialEquations.jl`. So I added the v0.13.4 version. Doing

[code]

threw comptibilitya bunch of compatibility errors

[code]

[2020-09-08 20:43] bhaveshshrimali commented on #398
Making some progress... I am trying to enforce non-homogeneous Dirichlet data on boundary. I essentially followed the syntax from the Poisson tutorial

[code]

But this throws up `BoundsError`

[code]

when trying to create the `TrialFESpace`. I can post the entire traceback if you want. Sorry for bugging with trivial queries. I'll pick things up in time.

Thanks so much for your help in advance!

[2020-09-08 22:21] bhaveshshrimali commented on #398
So after a couple of more tries, I managed to get a working code without writing the jacobian explicitly, and letting it calculate the jacobian using AD, as Santiago suggested above:

[code]

however the results seem to be a bit off (I will check the [Dirichlet boundary conditions](https://fenicsproject.org/docs/dolfin/latest/python/demos/hyperelasticity/demo_hyperelasticity.py.html)). I am guessi

[2020-09-09 00:17] bhaveshshrimali commented on #398
Just for completeness, when I try to define the tangent as

[code]

and change the `FETerm` to

[code]

it throws a method error on `one` which seems really weird. Am I missing anything obvious ?

[code]

[2020-09-09 10:10] fverdugo commented on #398
@bhaveshshrimali you are imposing Dirichlet BCs  only at the interior of the faces, you also need to impose on the edges and vertices of their boundary. Just add the corresponding ids when defining  `"rightFace"` etc.

[2020-09-09 13:47] bhaveshshrimali commented on #398
Thanks a lot @fverdugo ! That worked perfectly!
Is there a way to look for topological entities/subdomains in the mesh from inside Gridap? For instance, generating the tags using a   bool function?

[2020-09-09 16:27] fverdugo commented on #398
Issue https://github.com/gridap/Gridap.jl/issues/367

[2020-09-09 21:15] bhaveshshrimali commented on #398
Here is the complete code in case if someone ends up wanting to take a look in the future. The timings are really good (~16s) even when compared to FEniCS (~12s) on my laptop, which wasn't the point of this exercise but that it ends up being as such is a bonus :)

### Code:
[code]

### Newton Iterations

[code]

### Output

![gridapDolfin](https://user-images.githubusercontent.com/22624037/9265492

[2020-09-09 21:19] bhaveshshrimali commented on #398
Just one last question before I close this: how to create a mesh with tets instead of hexs ? I am planning to take a look [here](https://github.com/gridap/Gridap.jl/tree/master/src/Geometry) but that would require some more reading and understanding on my part.

Also for I/O is XDMF a format that you might be considering in the future especially with `GridapDistributed` ?

[2020-09-10 03:27] amartinhuertas opened #399 "Use struct-like traits for `constraint_style` in FE space hierarchy"

[2020-09-10 03:31] santiagobadia commented on #398
Great!

Just `simplexify` your current model:
[code]
You could also use unstructed meshes, take a look at the corresponding tutorial.

The timing results are amazing. We have always tried to implement things the right way, type-stability, zero allocations in numerically intensive parts, etc. But we have not optimised the code yet. So, as a starting point, it is VERY sound.

[2020-09-10 04:32] bhaveshshrimali commented on #398
Thanks @santiagobadia @fverdugo
This was a nice introductory exercise. Will continue to read and explore Gridap in the weeks to come. My long term goal is to also use Gridap for solving larger problems, and if possible on a cluster.

[2020-09-10 04:32] #398 closed

[2020-09-10 05:53] bhaveshshrimali opened #400 "#398 not reproducible on Gridap v0.14.0"
Hi @fverdugo @santiagobadia

I just installed Julia 1.5.1 and Gridap 0.14.0 on my cluster and tried running the example code from #398 . It is failing with

[code]

Downgrading back to v0.13.4 which I had been using on my laptop seems to run without any problems. Do you think it is an issue with my environment specifically or something else?

Here is the code just as reference (it's basically the

[2020-09-10 06:00] fverdugo commented on #400
@bhaveshshrimali  I have also run into this problem, but unfortunately I was not able to create a reproducible MWE.

I have even opened an issue at https://github.com/JuliaLang/julia/issues/37176 but I had to close it since my MWE was not reproducible.

Strangely, if you run `(1,) .== 1` at the beginning of your session, the error is fixed. I guess that the error is not related with Gridap, but wh

[2020-09-10 06:25] bhaveshshrimali commented on #400
Thanks @fverdugo for a prompt response.

I can try some things in a clean REPL tomorrow to see if I can create a reproducible MWE.
Weirdly enough, as you say simply doing `(1,).==1` fixes it and I'm now able to run with v0.14.0 absolutely fine without any issues. This is some black magic I have seen today

[2020-09-10 06:31] fverdugo commented on #400
Hope we can find a reproducible MWE and then ask for help to the Julia developers!

[2020-09-10 18:04] bhaveshshrimali opened #402 "Implementing new elements in Gridap"
Hi @fverdugo @santiagobadia,

In the meanwhile I try on getting a MWE on #400 , I wanted to ask about implementing new elements in Gridap. Specifically I wanted to implement and test the [Crouzeix-Raviart elements](http://www.numdam.org/item/M2AN_1973__7_3_33_0/), both conforming and non-conforming,  in 2D/3D for incompressible hyperelasticity. These can be useful for applications in heterogeneous

[2020-09-11 06:47] fverdugo commented on #402
@bhaveshshrimali

Yes, it is easy to add new finite elements in Gridap, the code is designed to do this (and other) extensions. It would be very nice if you can add new ones!

Take a look at the sources of the `Gridap.ReferenceFEs` module.  The doc strings are quite decent for this part. So, I think you will figure out how to add the new elements by you own.

We have an abstract interface for refe

[2020-09-11 07:11] rveltz opened #403 "autodiff error with multifield"
Hi,

When trying to solve a nonlinear PDE on a square with autodiff and Gridap v0.13.4, I get the following error. Am I doing something wrong?

Thank you for your help,

Best regards,

[code]

gives

[code]

[2020-09-11 07:38] fverdugo commented on #403
Autodiff + multi-field only from 0.14 on.

https://github.com/gridap/Gridap.jl/blob/master/NEWS.md#added-1

Try wit Gridap 0.14

[2020-09-11 08:56] rveltz commented on #403
Thank you!!

[2020-09-11 08:56] #403 closed

[2020-09-11 15:28] bhaveshshrimali commented on #400
Unfortunately, I am not able to reproduce this in a clean REPL.  I did a fresh install Julia 1.5.1 on my laptop, and then installed Gridap. Everything works as it should without any problems.
I can close this for now, and it can be reopened if someone stumbles upon this.
@fverdugo ?

[2020-09-11 15:30] bhaveshshrimali commented on #402
Sounds good !! Thanks a lot for the pointers. I will start taking a look at this soon.

[2020-09-13 20:12] bhaveshshrimali opened #405 "Mixed Formulation for (nearly) incompressible hyperelasticity"
For future reference, if someone needs a heads up on starting on a similar problem. Also maybe a reference for to test future optimizations in the code itself.

### Code

[code]

### Newton Iterations

[code]

### Timing

[code]

[2020-09-13 20:12] #405 closed

[2020-09-14 05:28] amartinhuertas opened #406 "Potential Improvements in current implementation of `FESpaceWithConstantFixed`"
In this issue, I will explore the following pending task related to this thread:

https://github.com/gridap/Gridap.jl/pull/396#discussion_r484169167

[2020-09-15 18:01] stevengj opened #407 "redundant method definition?"
My student @wenjie was looking through your code and noticed that [this `apply_kernel!` method](https://github.com/gridap/Gridap.jl/blob/c1e0e6a7768539b15fb7a05a42a851557cf56d76/src/Fields/Integrate.jl#L38-L45) and [this `apply_kernel!` method](https://github.com/gridap/Gridap.jl/blob/c1e0e6a7768539b15fb7a05a42a851557cf56d76/src/Fields/Integrate.jl#L62-L79) have apparently identical signatures, wh

[2020-09-15 18:03] stevengj opened #408 "delta functions?"
It would be nice to be able to represent Dirac delta distributions in order to solve a PDE with a delta-function right-hand-side.

Basically each delta-function term δ(x-x₀) would reduce the dimensionality of the integration (for assembly) by 1, but the implementation requires more understanding of the `CellField` mechanisms than we currently have.

cc @wenjie

[2020-09-15 19:03] fverdugo commented on #408
Hi @stevengj!

yes, this is in our TO-DO list.

I am working in an enhanced notation for weak forms (see issue #265). Once this is available one could implement something like:

[code]

or

[code]

[2020-09-15 19:13] stevengj commented on #408
That sounds great.  Ideally, we'd also want surface delta functions, the simplest case of which is a delta function of just one or two of the cartesian coordinates. e.g.
[code]
(For example, to implement mode-launching sources in wave equations.)

[2020-09-16 14:13] fverdugo commented on #407
I can see that one definition is for ::AbstractVector and the other for ::AbstractArray. I would say that there is no method overwriting here. In addition, the compiler does not throw any of the usual warnings when one overwrites a method.

Have you experienced some issue related with those methods??

[2020-09-17 06:11] amartinhuertas commented on #407
I agree here with @ferdugo. There shouldn't be method overwritting nor ambiguities:

[code]

If there is a missbehaviour of the Julia REPL, it would be nice to trace it down and report it.

[2020-09-17 17:03] stevengj commented on #407
Whoops, thanks, my eye missed that distinction.  I agree that they aren't redundant.

[2020-09-17 17:03] #407 closed

[2020-09-23 19:16] WenjieYao opened #411 "Complex Matrix Support"
[These lines](https://github.com/gridap/Gridap.jl/blob/1d4b6d5d9f21219cc3dffa201c3121d2957cd6ee/src/FESpaces/SparseMatrixAssemblers.jl#L165-L170) unconditionally creates a Float64 matrix which fails if my weak form returns complex numbers. What is the good way to fix this?

[2020-09-23 19:21] stevengj commented on #411
It would be nice to have a way early on to specify the desired number field relatively early on and have this information propagate through subsequent steps.

(For example, conceivably one might want not only complex matrices, but also dimensionful matrices using Unitful.jl, or quaternion matrices, double-double matrices, etcetera.  Though obviously complex matrices will be the most common need be

[2020-09-23 19:22] stevengj commented on #411
(We need this for a Helmholtz equation with perfectly matched layer (PML) boundary layers, which lead to complex matrix entries.)

[2020-09-24 05:40] fverdugo commented on #411
Gridap is quite agnostic to the eltype, but not completely as you say. This is an old issue that we are aware of.

For reference, could you include here some snipped of the weak form you are willing to compute (or a simplified version that has the same problem)?

[2020-09-24 06:09] fverdugo commented on #411
@stevengj @WenjieYao

BTW, the fe operators and assemblers have optional arguments to specify matrix and vector types. E.g.

https://github.com/gridap/Gridap.jl/blob/4c94645c2cb44e60d7efd48de01f8826616957bf/src/FESpaces/AffineFEOperators.jl#L51

you could do some think like

[code]
(even though I have never tried myself with complex numbers)

[2020-09-24 15:05] WenjieYao commented on #411
For a scalar magnetic Helmholtz equation, the weak form looks like this:
a(u,v)=\frac{1}{\epsilon}\nabla u\cdot\nabla v-k_0^2\mu u\cdot v, it will return complex value if \epsilon is complex (for lossy materials) or a PML is implemented (The PML is equivalent to a material of a complex \epsilon).

[2020-09-24 15:37] fverdugo commented on #411
@WenjieYao

$a(u,v)=\frac{1}{\epsilon}\nabla u\cdot\nabla v-k_0^2\mu u\cdot v$, it will return complex value if $\epsilon$ is complex (for lossy materials) or a PML is implemented (The PML is equivalent to a material of a complex $\epsilon$).

OK, then try to use

[code]
and see if it works

[2020-09-24 15:38] fverdugo commented on #411
I also assume that you will need to extract the real part of the solution once you have solved the system, right?

[2020-09-24 16:27] WenjieYao commented on #411
I can successfully create a AffineFEOperator `op` with `mytype`, but then the problem is with the `solve(op)`, it will still give an `InexactError: Float64(156.3643713837483 + 686.7830771274798im)`. Although I can still solve the equation with some low-level functions that can return the matrix A,b, it would be better if the `solve` function also supports complex numbers.

For reference, here's th

[2020-09-24 16:28] WenjieYao commented on #411
For the solution, I need both real and imaginary part

[2020-09-24 18:37] fverdugo commented on #411
It seems that you need a complex valued fe space. In any case, in order to be able to help further i need the precise mathematical definition of the weak form you are trying to solve, including the definition of the discrete test and trial fe spaces.

[2020-09-24 19:18] stevengj commented on #411
So we should use `valuetype=ComplexF64` when defining the test and trial functions?

(Even though we have a complex-valued quadratic form a(u,v)=∫[ε⁻¹(x)∇u⋅∇v - k²μ(x)uv], because the spatially varying coefficients ε and μ are complex numbers, and hence complex-valued test and trial functions u,v, the actual FE basis functions don't need to be complex-valued… only the coefficients need to be compl

[2020-09-28 17:12] stevengj opened #412 "periodic boundary conditions for arbitrary mesh files?"
We saw in #266 and #318 that you support periodic boundary conditions for `CartesianDiscreteModel`.   What would be needed to support them for arbitrary (periodic) meshes?

In particular, we are looking at periodic triangular meshes in a rectangular domain, generated by Gmsh, and would like a way to tell Gridap's matrix assembly to treat one of the directions as periodic.

[2020-09-28 17:24] stevengj commented on #411
Setting the `valuetype=ComplexF64`  gives a MethodError in the `TestFESpace` constructor.

[2020-09-28 17:28] stevengj commented on #411
@WenjieYao will create a self-contained "toy version" of the problem and post it here.

[2020-09-28 17:45] WenjieYao commented on #411
Here's a toy version of the problem:
[code]

[2020-09-29 05:46] fverdugo commented on #411
Yes, this is known. Fixing this should be relatively easy. I Hope I can find some time after an important deadline to investigate this.

[2020-09-29 19:37] stevengj commented on #411
Thanks!  (In the meantime, we have a workaround by calling lower-level functions.)

[2020-10-05 17:42] stevengj opened #413 "Nedelec elements for triangular/tetrahedral meshes?"
Currently [it seems to only support](https://github.com/gridap/Gridap.jl/blob/4c94645c2cb44e60d7efd48de01f8826616957bf/src/ReferenceFEs/NedelecRefFEs.jl#L46) quadrilateral/hexahedral meshes.     Are there any plans to implement this?

@WenjieYao would love to help with this, but is new to this kind of FE code so would need more guidance…  What part of this implementation would need to be generaliz

[2020-10-05 17:50] stevengj commented on #412
@fverdugo, if you have a chance, it would be great to get a few hints from you on this.

[2020-10-05 23:34] santiagobadia commented on #413
It would be nice to implement Nedelec elements on tetrahedra/triangles. But due to time restrictions, it is not in my shortlist.

If @WenjieYao wants to develop it, it would be good to take as a starting point the Nedelec implementation for hexahedra. The way moments (degrees of freedom) for the Nedelec elements are different. I would start understanding Nedelec FEs for HEXs and TETs. You can use

[2020-10-06 05:24] fverdugo commented on #412
It should be possible. One has to understand how Gmsh encodes information about periodic boundaries and then use it in Gridap.  Essentially, one needs to pair the vertices at the two ends of a periodic boundary from the info provided by gmsh. The rest should be easy.

@jesusbonilla and @AndiMD have recently worked with GridapGmsh and perhaps they are also interested in this feature.

[2020-10-06 11:28] jesusbonilla commented on #412
@stevengj I started to work on this point in a [fork of GridapGmsh](https://github.com/jesusbonilla/GridapGmsh.jl/tree/import_mesh_with_periodic_bc) ([these are the main modifications](https://github.com/jesusbonilla/GridapGmsh.jl/blob/import_mesh_with_periodic_bc/src/GmshDiscreteModels.jl#L7-L76)). However, the approach that I have followed so far might be quite basic/preliminary. It is still not

[2020-10-07 04:57] Omega-xyZac opened #414 "3-tensor contractions with 2-tensor and 1-tensor"
This doesn't seem to be implemented just yet. Would definitely be beneficial.

[2020-10-07 05:17] fverdugo commented on #414
Hi @Omega-xyZac,

I thought that these contractions were rather non standard. Do you really need them?

Do you need simple, or full contractions ? which one of the following?

[code]

In any case, you can take a look how contractions are implemented in
https://github.com/gridap/Gridap.jl/blob/master/src/TensorValues/Operations.jl
and try to add the ones you need, but we need to agree in the symbol

[2020-10-07 05:30] Omega-xyZac commented on #414
Hi @fverdugo,

I guess I can use Voigt notation but I would prefer not to since I am working on a homogenisation problem which would ideally have use full tensor formulation. I need:
[code]
in the above, `c_jk` would be symmetric. I guess symbol wise we would use `\odot` 2nd case and `\cdot` for first?

[2020-10-07 05:39] fverdugo commented on #414
We use \odot for full contraction and \cdot for simple contraction. This would be the syntax for your cases:
[code]

[2020-10-07 05:40] Omega-xyZac commented on #414
Thanks. I'll have a look at implementing those.

[2020-10-07 22:28] Omega-xyZac commented on #414
This seems to do the trick:
[code]

Are you happy with this @fverdugo ?

[2020-10-07 23:13] Omega-xyZac commented on #414
This seems to create issues elsewhere:
[code]
...
[code]
gives `AssertionError: L == D1 * D2 * D3`. I don't see why this would be.

[2020-10-08 11:45] Omega-xyZac commented on #414
Issue seems to be that new methods are not being called in weak form. I have a lot of issues debugging in Julia. I have taken
[code]
in my code to extend `⋅`. (Note new method as mentioned in #415)

Please advise

[2020-10-08 22:22] Omega-xyZac commented on #414
Okay, I seem to of fixed the issue by implementing `@law gradϕ_e(∇ϕ) = -∇ϕ ⋅ -e`.

[2020-10-09 06:22] Omega-xyZac commented on #414
Hi @fverdugo, would you be interested in me adding the some additional operations. Eg below:
[code]

[2020-10-12 00:09] Omega-xyZac opened #416 "Integration of ThirdOrderTensorValue Bug"
Hi all,
Please help! There seems to be a a bug with integrating a 3-tensor. See below:
[code]
Throws:
[code]

[2020-10-12 00:18] Omega-xyZac commented on #416
I added some display statements
[code]
and received the output for writing ThirdOrder
[code]
and when running `integrate`:
[code]

[2020-10-12 01:40] Omega-xyZac commented on #416
I think I've found the issue, ThirdOrderTensorValue did not yet have a `zero` method. I've implemented the below. Will make a pull soon.
[code]
Let me know what you think.

[2020-10-14 22:06] #416 closed

[2020-10-14 22:06] #414 closed

[2020-10-15 15:21] WenjieYao commented on #413
@santiagobadia Thanks for the detailed reply. Can you send a new link or email me the article? I can't get access to the publication as it requires a Monash University account.

[2020-10-15 22:01] santiagobadia commented on #413
@WenjieYao I have updated the link. Now it should work. We are working on the Piola transformations from the reference to the physical space, so the last part (not discussed in detail) about the physical space can be omitted. Hopefully, it will be ready soon. Still, you will need to implement the degrees of freedom / shape functions at the reference space.

[2020-10-16 23:56] Omega-xyZac opened #422 "CUDA Support"
Hi all,
I think this is definitely a wish-list item for me since I'm looking at a microstructure optimisation problem. Perhaps we can do this in a really simple way (for the mat assembly) by adding something like:
[code]
Ideas? Alternately, this may require a separate plugin for Gridap altogether - like GridapDistributed.

[2020-10-20 19:56] stevengj opened #425 "Make FEFunction objects callable (as functions of coordinates)"
Given an `f::FEFunction`, it would be nice to be able to evaluate it at a position `x::VectorValue` just by calling `f(x)`.   (Right now this is a `MethodError`)

(Presumably you have this functionality already, and this is just a one-line method addition?)

[2020-10-20 22:05] santiagobadia commented on #425
Not really, this issue is very related to the Dirac delta one.

A FE function is a cell-wise function. To evaluate `f(x)` we need first to find which is the cell in the mesh that contains `x`. (This value can be undefined when is x is on the skeleton mesh and the space is not C0, which is the case of Nedelec, Raviart-Thomas, etc). This is something we do not use because it is expensive and we do n

[2020-10-20 22:12] santiagobadia commented on #422
Hi @Omega-xyZac
I have no experience with GPUs + Julia. With @amartinhuertas we are trying to exploit MPI now.
I think that we probably want to do this in a separate package, and see what we get.
If you have the time to look at this, I can create a repos in this org, like GridapDistributed, if you like.

[2020-10-20 22:17] stevengj commented on #425
I agree that you don't need it during assembly etcetera, but the ability to evaluate the solution is pretty convenient for users doing post-processing and visualization.   (e.g. in our case, we wanted to validate our solution by comparing it to a known solution at some set of points.)

(It would also be useful if you needed to interpolate a solution from one mesh to another; e.g. Fenics supports t

[2020-10-20 22:38] santiagobadia commented on #425
I agree, I also consider that it is something to be done. But the point to cell map is the part that prevents us to easily provide this functionality now. There is already a k-d-tree searching algorithm implemented in Julia, this [package](https://github.com/JuliaGeometry/KDTrees.jl) that I would try to use here.

[2020-10-20 23:37] Omega-xyZac commented on #422
Hi @santiagobadia,
Sounds like a good idea. If you create a repo, I’ll certainly be able to find some time to work on this as part of my thesis work.

[2020-10-21 23:18] AndiMD opened #426 "Gradient of field / @law across domains"
In the weak form of the heat equation, the gradient of the thermal conductivity is required. When there are just two homogeneous domains, it seems straightforward to define the thermal conductivity independent of coordinates like this:
[code]
However, this is not compatible with the gradient in the weak form. Could we somehow generalize `@law` to have this work seamlessly? (apologies if I missed s

[2020-10-22 01:30] Omega-xyZac commented on #426
Have you looked at the multi-material section in [https://gridap.github.io/Tutorials/stable/pages/t003_elasticity/](url)? I think this solves your problem. I might be mistaken though.

[2020-10-22 11:53] AndiMD commented on #426
Thanks, this tutorial was actually my starting point. This is what I want to accomplish:
`a(u,v) = fλx(tags)*(∇(v)⊙∇(u)) + (∇(fλx(tags))⊙∇(u))*v`

[2020-10-22 11:57] Omega-xyZac commented on #426
Ah. I see. Are `λSiO₂` and `λCu` functions of x? You might need to pass x to `@law` function the tag as the first argument.

[2020-10-22 12:44] AndiMD commented on #426
For now, they are scalars. I remember a simple function x->fλx(x) to be working, not with an additional tags parameter, though. As soon as I can get to it, I will do a MWE.

[2020-10-22 13:07] fverdugo commented on #426
@AndiMD computing the gradient of `fλx(tag)` would mean differentiate with respect to tag.  Are you sure that you want this?

[2020-10-22 14:16] AndiMD commented on #426
@fverdugo : Of course, the function implicitly depends on x.

Maybe I can rephase it like this: How can I efficiently create a function across domain tags that does the following: `x->fλx(x2tag(x))` where `x2tag` returns the tag of the current domain?

[2020-10-22 17:54] fverdugo commented on #426
@AndiMD Perhaps it is an issue related with propagation of dual numbers. Try to write f(x) so that the julia type of the result depends on the type of the input.

[2020-10-22 20:36] AndiMD commented on #426
@fverdugo : I am sorry if my intentions are still unclear.
The function `x2tag` is pseudocode to show what I want to do. I do not know how to do it in a straightforward manner. Using a coordinate x to identify a cell tag sounds highly inefficient (can we even differentiate through that?).

[2020-10-22 23:40] santiagobadia commented on #426
@AndiMD if I understand, you have a heat equation with piecewise constant coefficient (two regions). This equations has the form `∇⋅fλ∇u = g` and after integration by parts you simply integrate `fλx(tags)*(∇(v)⊙∇(u))` on the volume (plus boundary terms if Neumann), assuming that your heat conductivity is a scalar, not a tensor.

So, you do not need the problematic term.

In any case, you can see t

[2020-10-23 07:53] fverdugo commented on #426
Hi @AndiMD !

can you provide a MWE fo clarify things ?

[2020-10-23 13:46] AndiMD commented on #426
Thanks for you explanations. I had wrongfully assumed that the nondifferentiable thermal conductivity jump would automatically become differentiable by projection to the finite element space.
I will provide a small MWE asap.

[2020-10-23 22:49] AndiMD commented on #426
@fverdugo @santiagobadia
Although I understand now why the gradient is ill-defined, here the MWE for reference. Most relevant, lines 71..76.
[gridapHeat.zip](https://github.com/gridap/Gridap.jl/files/5432014/gridapHeat.zip)

Can I project the conductivity formula onto the finite element field and differentiate that?

[2020-10-27 05:32] santiagobadia commented on #422
Hi @Omega-xyZac I have created the repos GridapGPU.jl

We can work through PRs or I can give you permission to write in the repos.

I close the issue now.

[2020-10-27 05:32] #422 closed

[2020-10-27 05:35] Omega-xyZac commented on #422
No worries. If you want to give me permission then we can do that. Up to you.
Cheers

[2020-10-27 10:47] fverdugo commented on #422
@Omega-xyZac @santiagobadia

I guess that introducing GPU support in a general purpose FE library like Gridap is not an evident implementation task. I think this is still an open problem.

Do you have any plans on how to proceed?

[2020-10-27 11:29] Omega-xyZac commented on #422
@fverdugo

I'm still learning the Gridap internals along with CUDA.jl. I think a good starting point may be working on a CUDA linear solver using the sparse library and a conjugate gradient method using the thrust library. Hopefully I will have some time to work on this in the upcoming weeks.

[2020-10-27 12:43] oriolcg opened #430 "BlockArrayCoo assumes same type for all blocks"
This issue is related to issue https://github.com/gridap/GridapODEs.jl/issues/29.

The current implementation of `BlockArrayCoo` assumes the same type for all blocks, i.e. `blocks::Vector{A}`. Would it be possible to consider a more general case where each block has its own type?

This is needed, for instance, when using ForwardDiff for a transient and multi-field problem. In this case we can have

[2020-10-27 13:29] fverdugo commented on #430
I see some potential problems related to type stability in the algorithms that iterate over blocks.

[2020-10-27 13:31] fverdugo commented on #430
BTW, ForwardDiff does not work with block matrices. Perhaps collecting the block array into an standard array before sending it to ForwardDiff would fix the problem.

[2020-10-27 13:32] fverdugo commented on #430
In any case, good point @oriolcg !

[2020-10-29 09:09] amartinhuertas commented on #276
This PR https://github.com/gridap/Gridap.jl/pull/432 solves to a large extent this issue

[2020-10-29 14:15] stevengj opened #433 "inner and outer functions for complex"
Currently, https://github.com/gridap/Gridap.jl/blob/master/src/TensorValues/Operations.jl defines
[code]
which led to a `MethodError` for `outer` when we tried to assemble an `FESource` for a complex-valued function (see also #411).

Can these be changed to `Number` instead of `Real`?  e.g. to
[code]
and presumably there are other methods that need to be generalized from `Real` to `Number` too.

[2020-10-29 14:16] stevengj commented on #433
(Normally, one would define these with complex conjugations, but I'm not entirely clear on whether matters are different for how they are used in this FEM context.)

[2020-10-29 14:36] stevengj commented on #433
In our complex-PDE adjoint code, we found that we needed to define the unconjugated product `Gridap.outer(a::Number,b::Number) = a*b` for it to work.  Presumably this is because there are no conjugations elsewhere in Gridap and once needs to be consistent.

This is fine with me.    Any conjugations that we need can be specified explicitly in our `FESource` terms or elsewhere, and arguably it is cl

[2020-10-29 14:57] fverdugo commented on #433
Good point. In any case, one can use user-defined products to define the FESource.

[code]
But, I agree,  it is necessary to find some "sensible" defaults when working with complex numbers.

[2020-10-29 17:01] stevengj commented on #433
In general, I would define methods to work with `Number` (rather than `Real`) as much as possible.   There is no mathematical reason why one couldn't have PDEs with quaternion functions, dual numbers, etcetera, as well as complex numbers.

[2020-10-30 20:22] oriolcg commented on #430
I don't think the problem is there. The current implementation works well for multiple blocks (see steady Stokes). The problem comes at the binary operation `+` happening at the evaluation of the weak form, where you have the mismatch of types for different blocks.

[2020-11-02 06:33] amartinhuertas commented on #276
#432 was just merged ... closing this issue

[2020-11-02 06:33] #276 closed

[2020-11-02 19:46] WenjieYao opened #437 "FEFunction doesn't support sub-domain integral"
We want to integrate some objective function within a sub-domain mesh, but the FEFunction doesn't support that, here is a brief example of what we are doing:
[code]

In this example, we have a circle domain called "Inner" inside a rectangular domain "Outer", and we want to compute some integral over the sub-domain. As you can see at the end, the integral works if the function passed is not a FEFun

[2020-11-03 07:53] fverdugo commented on #437
You need to explicitly restrict to the new triangulation `integrate(restrict(uh,trian_i),trian_i,quad_i)`.

I know this is  bit annoying. I am working on a new Gridap version that automatically restricts to the corresponding triangulation.

[2020-11-04 23:38] #437 closed

[2020-11-06 08:07] fverdugo opened #442 "Move the CI pipeline to GH actions (travis not unlimited free for OSS anymore)"
In particular, we want:

- Tests
- Documentation
- Coverage reports

and the corresponding badges in the README.md file.

[2020-11-06 12:25] amartinhuertas opened #444 "Replace hard-coded `Int64` by `Int` wherever appropriate"
Using a hard-coded `Int64` instead of `Int` in the code can result in Julia dispatching errors  with the 32-bit version of Julia (in which `Int` means `Int32`) due to mixed precision integers (Int64 versus Int32) not being accounted for in type parameterized functions.

See, e.g., https://github.com/gridap/GridapDistributed.jl/runs/1362528777#step:5:87, with Gridap v0.14.1

[2020-11-09 10:56] amartinhuertas commented on #442
Tests badge with GH can be found here: https://github.com/gridap/GridapDistributed.jl/blob/master/README.md

More information here as well: https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/adding-a-workflow-status-badge

[2020-11-09 11:00] amartinhuertas commented on #444
Solved in #445. Closing the issue.

[2020-11-09 11:00] #444 closed

[2020-11-10 01:08] WenjieYao opened #446 "Hyperbolic function support for FEFunction?"
I have a FEFunction `ph=FEFunction(P,pvec)` and I want to pass something like `tanh(ph)` to the FE terms, e.g. `a(u,v)=tanh(ph)*u*v`, then it tells me that no method matching `tanh(::Gridap.CellData.GenericCellField{true,()})`, is there a workaround to fix this?

[2020-11-10 06:18] fverdugo commented on #446
try `operate(tanh,ph)` instead of `tanh(ph)`

[2020-11-10 19:57] WenjieYao commented on #446
Thanks, that works! But I still need to define `Gridap.Helpers.operate(::typeof(tanh),x::Number)=tanh(x)` to make my code work though.

[2020-11-11 16:11] #446 closed

[2020-11-15 15:50] fverdugo commented on #442
PR #450 solves this issue.

[2020-11-15 15:50] #442 closed

[2020-11-16 01:18] amartinhuertas commented on #442
Hi @fverdugo ... I would also add `x86` arch to the matrix of Github Actions. What do u think?

Going even further, we could investigate a github actions linter that triggers warnings by parsing the code in the search of explicit use of Int64 ... but perhaps this is too much.

What do you think about the first and the second? I can do the first ... I may investigate the second, not actually sure i

[2020-11-16 01:20] amartinhuertas commented on #442
FYI ... the whole set of Julia-related Github Actions are maintained here ... https://github.com/julia-actions

[2020-11-16 05:48] fverdugo commented on #442
It also would be nice to lint against trailing white spaces!

[2020-11-16 11:06] amartinhuertas opened #453 "Adding x86 architecture to GH actions causes two tests to fail"
More details here:

https://github.com/gridap/Gridap.jl/runs/1405739573?check_suite_focus=true#step:6:126

[2020-11-16 11:35] fverdugo commented on #453
It seems that the json parser has read some integers as Int64 even in x86.

Try to replace
https://github.com/gridap/Gridap.jl/blob/23f56ed660bf7b27331dfc2734a74905ffd96dd1/src/ReferenceFEs/CLagrangianRefFEs.jl#L157
by
[code]
A more elegant way of fixing this would be to configure the json parser to return `Int` instead of `Int64`. (Don't know if it is possible)

[2020-11-17 09:20] amartinhuertas commented on #453
Yes, it is possible!  Solved in PR: https://github.com/gridap/Gridap.jl/pull/456

[2020-11-18 00:42] tmigot opened #458 "Second derivatives of the residual using automatic differentiation"
Defining a FEOperatorFromTerms and NonlinearFETermWithAutodiff, we can obtain the residual and the jacobian of the residual.
I am also trying to get the second derivatives of the residual along a given vector.

In other words, say we have the residual F(x), and given λ, where both F(x) and λ are vectors of size n:=num_free_dofs(U), I want to compute the following nxn matrix:
<img src="https://late

[2020-11-19 06:44] fverdugo commented on #458
Hi @tmigot

The `autodiff_array_hessian` is not designed for a cell-wise residual, but for a cell-wise energy. Perhaps this is why it is not working...

BTW, are you trying to compute the sensitivity of the solution of your PDE wrt some parameters lambda?

[2020-11-19 07:52] #453 closed

[2020-11-19 21:23] Omega-xyZac opened #463 "Periodic Boundary Conditions + Dirichlet BCs"
There seems to be issues with Dirichlet conditions when using periodic boundary. Dirichlet conditions are not applied when using `isperiodic=(true,true,true)`. See the following snippet of code:
[code]
Via symmetry this should lead to 8 nodes with fully constrained dofs. Instead, none of the nodes are constrained. Is this an issue with how dirichlet conditions are applied when using periodic BCs?

[2020-11-20 01:00] Omega-xyZac commented on #463
Work around possible using
[code]

[2020-11-23 18:04] tmigot commented on #458
Hi @fverdugo, thanks for your answer.

Actually, the code is running as `_cell_res_xf(cell)` returns an array of numbers as a cell-wise energy would do. The problem seems that it always returns a matrix of zeros.

I updated my first comment to make a concrete example, and running
[code]
also seems to return a cell-wise vector of zeros, even so the function is not constant:
[code]

You are right, I

[2020-11-24 09:14] fverdugo commented on #463
@jesusbonilla have you ever tried periodic BCs in all directions ?

[2020-11-24 12:29] JuliaTagBot opened #470 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2020-11-24 14:07] fverdugo opened #471 "Raviart-Thomas reffes for cubes/simplices in v0.15.0"
Work to be done before releasing v0.15.0

[2020-11-24 14:10] fverdugo opened #473 "Syntax for homogeneous weak forms"
Express zero linear forms as `l(v) = 0`

[2020-11-24 14:22] fverdugo opened #474 "Make GridapEmbedded work with Gridap#master (v0.15.0)"
WIP in branch https://github.com/gridap/GridapEmbedded.jl/tree/update_to_Gridap_v0.15.0

[2020-11-24 14:23] fverdugo opened #475 "Make gridap/Tutorials work with Gridap#master (v0.15.0)"
WIP in issue https://github.com/gridap/Tutorials/issues/54

[2020-11-24 14:25] fverdugo opened #476 "Make Nedelec reffes work with v0.15.0"
Nedelec elements not yet working after the refactoring

[2020-11-24 14:34] fverdugo opened #477 "Make GridapGmsh work with Gridap#master (v0.15.0)"

[2020-11-24 15:17] jesusbonilla commented on #463
Yes, I have tried periodic BC in all directions. I have not tried to add Dirichlet BC and Periodic BC at the same time.

If I understand properly @Omega-xyZac's issue is that without this Dirichlet condition you have your solution defined only up to a constant. Instead of fixing the value at one node manually I would use the option `constraint=:zeromean` in `TestFESpace`. The problem is that I thi

[2020-11-25 00:01] Omega-xyZac commented on #463
Yes, the `constraint=:zeromean` does not work for a vector valued FE space:
[code]
Unfortunately, I need this constraint for two FE spaces:
[code]
and
[code]

[2020-11-25 00:27] santiagobadia commented on #463
I am not sure there is any issue related to the periodic boundary conditions. As @jesusbonilla says, I guess you are solving a differential operator with some kernel that is not being fixed with periodic boundary conditions. You need to add constraints to make your problem non-singular. If the kernel is a constant in each space, you can just enforce the value (of all vector components) in a node o

[2020-11-25 00:33] santiagobadia opened #479 "Add global spaces for global constraints (Lagrange multipliers)"
It would be nice to have the possibility to have global "test functions", e.g., a test FE space that is a basis of fields defined in the global physical domain. This way, we could define constraints at the driver level as you define the rest of the terms. E.g.,
[code]
or
[code]
The solution of the resulting linear system is not simple. The resulting problem is indefinite, it could be efficiently s

[2020-11-25 01:14] Omega-xyZac commented on #463
Okay, I will look into this.

I'll flesh out my problem for you as well. In this problem I am solving microstructure homogenisation for linear piezoelectricity. Usually, one can simply constrain a single vertex for all DOFs (3 dis + 1 electric) and via the PBCs this is applied to the other vertices.

[2020-11-25 05:05] Omega-xyZac commented on #463
I might need some guidance on extending zero mean to vector-valued spaces. It seems that the extension is required in `_setup_vols(V,trian,quad)`.

[2020-11-25 06:27] Omega-xyZac commented on #463
I think a way around this for Cartesian grids is the following:
[code]
Strangely, this gives the same value as the Dirichlet BC. Thoughts?

[2020-11-25 10:23] amartinhuertas opened #480 "Miscellaneous renaming tasks in v0.15.0"
- [x] `get_cell_nodes` -> `get_cell_node_ids`
- [x] `get_cell_id` -> `get_cell_to_bgcell`
- [x] ~**TO-THINK:** `get_cell_measure` -> ??? (` get_bgcell_measure`? perhaps too confusing)~
- [x] For `a::LazyArray`, `a.g` -> `a.maps`, `a.f` -> `a.args` **We can pospone this to a future release since they are private fields**
- [x] `get_cell_data` is a bit confusing, because you apply it to a `CellDatum

[2020-11-25 11:59] fverdugo commented on #473
done !

[2020-11-25 11:59] #473 closed

[2020-11-26 17:17] jesusbonilla commented on #471
Right now Raviart-Thomas reffes seem to be working for cubes/simplices. However, there are some pending tasks:
- [ ] Avoid computing the transpose of the transpose, i.e., work directly with the transposed Jacobian.
- [ ] Optimize `get_dof_basis` by Implementing proper `return_cache` and `evaluate!` functions.
- [ ] Add a check to ensure we are using affine mappings at the functions evaluating the

[2020-11-27 09:52] oriolcg opened #483 "Multi-field in mixed-dimensional FE spaces"
Gridap cannot handle a `MultiFieldFESpace` with single field FE spaces defined in different dimensions, e.g. a field defined in a domain `Ω` and  another field defined on (part of) its boundary `Γ⊆∂Ω`. As @fverdugo pointed out:

The error that I get when executing this case is:
[code]

[2020-11-27 17:24] fverdugo commented on #408
@santiagobadia @stevengj

I have added (PR #485) `DiracDelta` to impose point, line, or surface loads. The usage is pretty straightforward.

[code]
For point loads `degree` is optional. For line/surface loads `degree` is used to choose the quadrature rule. The implementation is efficient, since we relay on physical tags defined in the model (we do not need to look for which cell includes a point)

[2020-11-27 17:51] stevengj commented on #408
Great! Note that there are also derivatives of delta functions ("dipoles", "quadrupoles", etcetera), which correspond to evaluating derivatives of the test function.

In principle, I guess you could implement delta-function derivatives using the same scheme…

[2020-11-27 17:53] stevengj commented on #408
Note also that it would be nice to be able to use these in the bilinear form, not just for loads, e.g. to include a term `δ(surface)*u*v` in the bilinear form.

[2020-11-27 18:53] fverdugo commented on #408
a(u,v)=delta(u*v) should also work

[2020-11-27 19:02] stevengj commented on #408
I also put a couple of other questions in #485:

1. Can you multiply by an amplitude, including variable amplitudes `f(x)` via `f * δ`?

2. What happens if the test function is discontinous, e.g. for piecewise-constant spaces?

[2020-11-28 07:22] fverdugo commented on #408
Hi @stevengj

1. You can define `f(x)` and then use it in `l(v) = δ(f*v) ` (always inside δ)
2. DirachDelta assumes continuous functions. If you have discontinuous funcions, you can use the machinery associated with SkeletonTriangulation to impose surface loads, e.g., `l(v) = ∫( mean(v) )dΓ` where dΓ is the Lebesgue measure of a SkeletonTriangulation. (No current way to deal with point / line load

[2020-11-28 07:25] fverdugo commented on #408
BTW, you can even use the surface normal for surface loads:
[code]

`get_tangent_vector` is not implemented but should be easy to add it.

[2020-11-28 07:27] fverdugo commented on #408
Internally `get_triangulation(δ)` returns a `BoundaryTriangulation` that maps to the first cell around the point/line/surface (that is why it only works for continuous functions)

[2020-11-28 14:15] stevengj commented on #408
`δ(f*v)` is a bit of a weird syntax, mathematically, since it would normally imply a delta function where `f*v == 0`.   It's fine, of course, to have a different syntax for computational purposes, but is there a reason why you can't support `(f*v)*δ`

Ordinarily one doesn't allow `δ` for discontinuous functions, which is why I was wondering what happens — is there an error, or does it pick the val

[2020-11-28 20:07] bhaveshshrimali commented on #398
With the newer syntax via `0.15.0` (slightly different timings, but mostly the same)
[code]

### Code

[code]

### Result

![image](https://user-images.githubusercontent.com/22624037/100525051-0a680c80-3183-11eb-99b8-76574c76753c.png)

[2020-11-29 19:50] oriolcg commented on #483
In the latest version the error appears in another place, when defining the `MultiFEFunction`. In particular, there is a check in `MultiFieldCellFields` that fails when the fields are defined in different triangulations. This goes in line with the comments in previous post.

If I'm not wrong, having a MultiField defined in different triangulations (even if one is a subset of the other) would requi

[2020-11-30 09:29] santiagobadia commented on #408
Hi @fverdugo @stevengj

Let us focus on the point Dirac delta for the moment. I like the construction of the Dirac delta with your point entity
[code]
Here, you are defining where you are positioning your Diract delta. The Dirac delta is a functional (over smooth functions), so I like
[code]
In this case `g⋅v` is the function on which you are applying the functional. I like it more than the standa

[2020-11-30 10:52] fverdugo commented on #408
The Dirac delta is evaluated by taking the value of the given function in the first cell around the point/line/surface.

Here the user is at her own risk when using a DiracDelta. If discontinuous funcions are used, the code will provide a result and the user is responsable to interprete this result for her particular setup.

I believe that current implementation accounts for many practical cases a

[2020-11-30 17:45] stevengj commented on #408
I agree that you seem to have handled the main issue here, so I'm going to close this.  I'll open up a new issue to track delta-function derivatives.

[2020-11-30 17:45] #408 closed

[2020-11-30 17:55] stevengj opened #489 "delta-function derivatives"
PR #485 added delta functions (on points/lines/surfaces in the grid).

As noted in #408, many applications also use delta function derivatives ("dipoles", "quadrupoles", etcetera), which are simply functionals `δ′{v}` that evaluate derivatives of the test function `v` (integrating the derivative along a line or surface in the case of line/surface delta functions).

For example,
[code]
would be a f

[2020-11-30 20:37] santiagobadia commented on #67
Replace |det J| by  sqrt(det J^T J)

[2020-12-01 07:14] fverdugo commented on #67
Nice!

This is the missing generic implementation of function `meas`.

 (I would keep our current specializations for squared jacobians and also for changes of surface in 2D and 3D)

[2020-12-03 15:32] stevengj commented on #433
Looks like this was fixed for `outer` by a24a2db1b26e18bae125c3da633ede784d57a6a0.

For `inner`, you currently throw an error for `Complex` values, but I think you want to delete [that method](https://github.com/gridap/Gridap.jl/blob/15c0130d762454e0e96ec94da3c7343a57256722/src/TensorValues/Operations.jl#L218-L220) and use the unconjugated product.

[2020-12-03 17:59] fverdugo commented on #433
fixed in PR #492

[2020-12-03 17:59] #433 closed

[2020-12-04 06:19] fverdugo commented on #474
Done.

[2020-12-04 06:19] #474 closed

[2020-12-04 06:34] fverdugo commented on #480
Hi @amartinhuertas, have you had some time to do the renaming?

This and the work on reffes that @jesusbonilla is doing are the two major parts missing for the 0.15 release.

[2020-12-04 06:56] amartinhuertas commented on #480
No. Deadline?

[2020-12-04 07:08] fverdugo commented on #480
No deadline, but the sooner we have this, the sooner we can release and start building on top of Gridap@0.15 in the other repos.

Having the renaming for `get_cell_nodes` and `get_cell_id` is the most important (and fortunately the easy) part since they are public.

We can pospone the renaming of the fields in `LazyArray` (this is the difficult part) since they are private and thus can be done at

[2020-12-04 07:28] amartinhuertas opened #493 "Misc low-level, non-strategic observations on 0.15 release"
Hi @fverdugo,

find below a list of misc low-level observations (nothing strategic) that I made while navigating through the kernel refactorization that goes into Gridap `v0.15`. If any of these observations imply further work, I can made it myself, but better If I can hear from your side before.

Thanks! @amartinhuertas

* In `CellField` constructors (`CellFields.jl` source file), what is the rea

[2020-12-04 07:31] amartinhuertas commented on #480
Ok, I will do it now, then.

[2020-12-04 07:51] fverdugo commented on #477
Done in https://github.com/gridap/GridapGmsh.jl/tree/update_to_Gridap_0.15

[2020-12-04 07:51] #477 closed

[2020-12-04 07:56] amartinhuertas commented on #480
Yes, this is definitely more time-consuming. Ideally, this work should also rename the local variables which are used for aliasing these two member variables of LazyArray ...

[2020-12-04 08:54] fverdugo commented on #493
Hi @amartinhuertas, thanks for your comments. Perhaps better a face-to-face meeting to discuss this.

[2020-12-04 09:16] amartinhuertas commented on #493
Yes. That would be perfect. I have other questions as well. What about Tuesday? Are u available?

[2020-12-04 09:17] fverdugo commented on #480
done in PR #494

[2020-12-04 09:24] fverdugo commented on #493
What about Wednesday? Tuesday holiday here.

[2020-12-04 09:30] amartinhuertas commented on #493
Ok deal. Time?

[2020-12-04 09:57] fverdugo commented on #493
7:30 BCN ?

[2020-12-06 09:46] amartinhuertas commented on #493
Yes. Wednesday 09th, 7:30AM, BCN time. FYI, @santiagobadia will join the meeting as well.

[2020-12-07 11:05] santiagobadia commented on #489
Hi @stevengj

As you say, the user can just use the definition of the distributional derivative, i.e., minus the derivative of the argument. Since this is straightforward in`Gridap`, I would not include derivatives of Dirac deltas.

As you say, this is not strictly needed, so I will close the issue.

[2020-12-07 11:05] #489 closed

[2020-12-07 11:09] #362 closed

[2020-12-07 11:10] #265 closed

[2020-12-07 11:12] #230 closed

[2020-12-09 07:57] amartinhuertas opened #498 "`testargs`, `return_value`, and doc"
Remove `testargs` and use `return_value`. Better doc for `return_value`. Can we extract doc from inference?

[2020-12-09 14:21] fverdugo commented on #498
I have realized that removing `testargs` is not as easy as expected. Thanks to `testargs`, we can provide a default implementation of `return_value` for the gradient and the gradient of the gradient of a given function.

[code]

See https://github.com/gridap/Gridap.jl/blob/4342137dfbe635867f39e64ecb01e8dbbc5fa6e7/test/FieldsTests/FieldInterfacesTests.jl#L165

Without `testargs` I do not how to ach

[2020-12-09 14:23] fverdugo commented on #498
I remove this issue from the milestone v0.15.0.

I do not close it since the doc  for `return_value` can be added anyway.

[2020-12-10 15:05] jesusbonilla opened #500 "Improve Raviart-Thomas reffes for cubes/simplices"
Improve and refactor RT implementation:

- [ ] Add a check to ensure we are using affine mappings at the functions evaluating the gradients, i.e. @check isa(Jt,ConstantField). Before, an optimization for simplex meshes needs to be done.
- [ ] Refactor RaviartThomasRefFEs.jl to simplify notation.

[2020-12-10 15:06] jesusbonilla commented on #471
Partially solved in PR #499
Opened issue #500 for remaining tasks.

[2020-12-10 15:06] #471 closed

[2020-12-10 16:44] fverdugo commented on #476
Closing via PR #499

[2020-12-10 16:44] #476 closed

[2020-12-11 08:07] fverdugo commented on #480
@amartinhuertas call it `get_data`

A `CellDatum` is just some data (the plain array) plus some metadata. So I think that `get_data` is OK.

[2020-12-11 10:17] fverdugo commented on #475
Tutorials have been successfully run with Gridap#master in https://github.com/gridap/Tutorials/actions/runs/415136455 (except docs)

closing issue.

[2020-12-11 10:17] #475 closed

[2020-12-12 07:55] fverdugo opened #502 "Fix potential naming conflicts when users implement their reference FEs"
**We definitively want to fix before releasing 0.15.0**

Say a user wants to implement his/her own version of a Lagrangian reference FE (just an example).

If he/she calls it `:Lagrangian` and defines the method
[code]
There will be a potential name conflict with the version defined in Gridap. In other words, this is type piracy.

The situation can be even worse. Two users, A and B, implement a re

[2020-12-12 08:56] santiagobadia commented on #502
@fverdugo have you checked whether we have this very same problem in other parts of the code?
I can fix it next week, together with the missing renaming, if I have some time before :palm_tree:

[2020-12-13 09:13] fverdugo commented on #502
Let me take a look.

[2020-12-13 10:53] fverdugo commented on #502
@santiagobadia I can take care of this issue. I am working on this in branch

https://github.com/gridap/Gridap.jl/tree/fix_reffe_factory  (**not finished yet**)

Can you take care of the renaming `get_cell_data` -> `get_data`  of issue #480 ?

[2020-12-13 17:54] fverdugo commented on #502
Fixed in PR #503.

I have also added and exported the constant
[code]

so that we can use
[code]
instead of
[code]

[2020-12-13 17:54] #502 closed

[2020-12-13 22:51] santiagobadia commented on #480
Renaming `get_cell_data` to `get_data` in PR #504

[2020-12-14 04:37] santiagobadia commented on #480
Renaming `LazyArray` args in PR #506

[2020-12-14 04:37] #480 closed

[2020-12-15 02:04] joaquinmura opened #508 "Problem with implementation of implicit heterogeneous solid materials"
Dear All,

I'm trying to solve an elasticity problem where, for example, E is an array with length(E)=number of cells. That array will change at each iteration. Attached you will find a code to reproduce the error messages:
[code]
where the messages are:

ERROR MSG 1: a(u,v) = ε(v) ⊙ σ(ε(u))
---
[code]

ERROR MSG 2: a(u,v) = ε(v) ⊙ (C⊙ε(u))
---
[code]

ERROR MSG 3: a(u,v) = ε(v) .⊙ (C.⊙ε(u))
---
[

[2021-01-03 13:37] oriolcg opened #510 "Benchmarking Automatic Differentiation"
Hi @fverdugo, I did a quick check on the performance of the automatic differentiation for the static Stokes problem and I'm getting some results that do not correspond to what was reported some time ago.

These are the times I get for different mesh sizes:
[code]
There is one order of magnitude difference between AD and manual jacobian, both in time and allocations. Am I doing something wrong?

He

[2021-01-08 15:08] AndiMD commented on #426
The FeNiCS reference that addresses this problem also
[https://fenicsproject.org/pub/tutorial/sphinx1/._ftut1005.html](https://fenicsproject.org/pub/tutorial/sphinx1/._ftut1005.html) (around Eqn. 74) indicates that the gradient is not required, so its probably my poor understanding of FEM at fault here

[2021-01-08 15:08] #426 closed

[2021-01-10 20:58] oriolcg opened #512 "Error when evaluating a sum of operations with arrays"
I'm getting the following error when evaluating a sum of cell integrals involving operation with arrays:
[code]

The MWE is the following:
[code]

And the staktrace:
[code]

Any clue on what could I be doing wrong?

[2021-01-11 07:23] fverdugo commented on #512
Hi @oriolcg!

I can reproduce the error.  It should be fixed by replacing this line
https://github.com/gridap/Gridap.jl/blob/0aa825475b3f1c116249fcf7354adae3d9d2b92d/src/Arrays/LazyArrays.jl#L208
with
[code]

Can you file a PR with this?

As a side note,  I am wandering if it makes sense to compute this quantity `∑(∫(α_Ω*vₕ)dΩ)`.  E.g., summing
 these elemental vectors is only possible when all ce

[2021-01-11 08:26] oriolcg commented on #512
Thanks @fverdugo, I'll submit a PR with the fix.

This was just an expression for the MWE. It all appeared when working with a bilinear form with piece-wise constant coefficients that are discontinuous across elements given by an array instead of a function.

[2021-01-11 10:33] fverdugo commented on #512
Closed via PR #513

[2021-01-11 10:33] #512 closed

[2021-01-20 20:46] Omega-xyZac opened #516 "Periodic BCs Don't Transfer to RestrictedDiscreteModel"
Hi all,
It appears that periodic boundary conditions do not transfer from the `CartesianDiscreteModel` to a `RestrictedDiscreteModel`. It would be great to fix this as it would speed-up homogenisation code for porous materials. Code below:
[code]
This generates
![PBCsbug](https://user-images.githubusercontent.com/60646897/105232495-323c8500-5bb4-11eb-9ab1-2c80bf83e333.png)
where the white portions

[2021-01-21 10:00] fverdugo commented on #516
@Omega-xyZac Thanks for reporting!

The problem is that we are generating a new GridTopology for the restricted part, instead of restricting the given GridTopology
https://github.com/gridap/Gridap.jl/blob/b9ed605b089e0836d89abfe2f682357bdce6b24f/src/Geometry/DiscreteModelPortions.jl#L26

The result is that we lose info about periodic BCs.

[2021-01-21 13:42] fverdugo commented on #516
![fixed](https://user-images.githubusercontent.com/48508177/105358682-ca5b5e00-5bf6-11eb-83af-9693318d7570.png)

Fixed!

[2021-01-21 16:01] fverdugo commented on #516
Fixed in #517

[2021-01-21 16:01] #516 closed

[2021-01-21 21:29] Omega-xyZac commented on #516
Wonderful! :D

[2021-01-22 18:39] eschnett opened #520 "Documentation link for "SubTriangulation" is broken"
On the page <https://gridap.github.io/Gridap.jl/stable/Geometry/>, the link "SubTriangulation" in the module description points to the page <https://gridap.github.io/Gridap.jl/stable/Geometry/@ref>, which does not exist.

[2021-01-23 02:33] eschnett opened #521 "Variable "order" overwritten in tutorial"
The tutorial on page <https://gridap.github.io/Tutorials/dev/pages/t002_validation/> defines a function `function run(n,order)`. The argument `order` is never used; it is overwritten by a statement `order = 1` further down. This seems wrong.

[2021-01-23 02:39] eschnett commented on #521
The convergence test does not give the results described in the tutorial. The convergence orders are only circa 2 and 1, respectively.

[2021-01-23 02:41] eschnett commented on #521
When I remove the spurious assignment in the function, both convergence orders are circa 3.

[2021-01-23 03:47] santiagobadia commented on #521
Hi @eschnett ,

Yes, `order = 1` should be eliminated. Since you were running for linear elements, you did only observe 2,1 instead of (at least) the 3,2 expected for `order = 2`. When you have eliminated the `order = 1`, you observe 3,3. That is possible. You know that at least L2 error should decrease with slope -3 and H1 with -2. But you can observe more, due to some superconvergence property f

[2021-01-23 03:52] santiagobadia commented on #521
I have eliminated that line. I close the issue

[2021-01-23 03:52] #521 closed

[2021-01-23 18:45] bhaveshshrimali opened #522 "Computing residual directly from energy"
Consider for instance a usual hyperelasticity problem (#398) which is basically finding the minimizer of a scalar potential energy (Pi):
$\arg\min_u \Pi (u)$

It would be useful to know constructs to be able to directly calculate the residual from the energy using automatic differentiation (The residual to jacobian part is already taken care of by Gridap). This is particularly useful in more compl

[2021-01-25 18:11] eschnett commented on #425
Santiago Badia @santiagobadia said on Gitter: Finite element functions are cell-wise defined, so the first missing ingredient is an efficient searching algorithm that given an x in the physical domain returns the cell it belongs to. With that info, you can just evaluate the (finite element) solution at this point at this cell. There is another minor issue. If you define the finite element space in

[2021-01-25 19:17] eneiva commented on #425
@ericneiva I think @eschnett means you

[2021-01-26 03:15] eschnett commented on #521
The tutorial text and the screen output still don't agree. I observe both convergence orders to be circa 3, different from what the tutorial text says.

[2021-01-26 07:30] ericneiva commented on #425
Hi, @eschnett, this functionality is contained in two commits. To bring it into your own devs, you just need to run on your local branch:
[code]

The first cherry-pick will likely produce a conflict, but it's rather straightforward to solve.

Please, let me know if you have any issues. Regards!

[2021-01-26 07:31] ericneiva commented on #425
Indeed, @eneiva, thank you!

[2021-01-26 11:42] oriolcg commented on #337
I went ahead and started the implementation of  `AdjointFEOperator`. I pushed a first version in cdbebc173b7267860256ad9bfd148a49e8320793. You can find the new definition of an `AffineFEOperator` for cases 1 and 2 in https://github.com/gridap/Gridap.jl/blob/cdbebc173b7267860256ad9bfd148a49e8320793/src/FESpaces/AdjointFEOperator.jl and some tests in https://github.com/gridap/Gridap.jl/blob/cdbebc17

[2021-01-26 13:38] eschnett commented on #425
@ericneiva Thanks!

[2021-01-26 13:53] eschnett opened #524 "Support `ascii=true` option in `writevtk`"
It would be convenient if Griap's version of `writevtk` supported the `ascii=true` function of the `WriteVTK` `writevtk` function. This would help debugging. It would also allow testing Gridap's output in the `VtkTests.jl` test case.

[2021-01-26 14:21] fverdugo commented on #524
Good point @eschnett !

In general, we want a way of passing all options supported by `WriteVTK.vtk_grid`.

The signature of  `Gridap.writevtk` has to be modified with care in order to not mess up with the arguments redirected to `visualization_data`.

In file,

https://github.com/gridap/Gridap.jl/blob/master/src/Visualization/Vtk.jl

I would do something in this direction:

[code]

then propagate

[2021-01-26 14:24] fverdugo commented on #524
From the user perspective when visualizing a FEFunction:

[code]

[2021-01-26 14:28] fverdugo commented on #524
Idem for `createvtk`

[2021-01-26 14:54] eschnett opened #526 "Suggestion: Provide JuliaFormatter configuration file"
I like to use [JuliaFormatter](https://github.com/domluna/JuliaFormatter.jl) to format my Julia source code. This way, I don't have to worry about the details, and the end result is readable and conforms to your standard.

For reference, [this](https://github.com/eschnett/Bernstein.jl/blob/master/.JuliaFormatter.toml) is a configuration I like to use.

[2021-01-26 15:16] fverdugo commented on #522
Hi @bhaveshshrimali

`S(F) = ∇(ψ)(F)` This does not work since the AD machinery is for functions taking `Point` i.e. `VectorValue` as argument, not 2nd order tensors.

To auto generate a residual and a jacobian you need to do something like:

[code]
I have done some tests and it seems that the compilation of the jacobian is EXTREMELY slow, several minutes. The compilation of the residual is much m

[2021-01-26 15:18] fverdugo commented on #522
BTW,  `μ` and `λ ` are not defined in the MWE. Can you update the code with some values?

[2021-01-26 16:12] fverdugo commented on #337
I would follow a quite different approach, which I think opens the door to more optimizations. From the user perspective:

[code]

`op_opd` stores 2 matrices and 2 vectors. When `selfadjoint=true` the two matrices are the same julia object. Else, one needs to assemble a matrix with this new bilinear form `ad(v,u)=a(u,v)` (Or by  transposing the direct matrix). In parallel computations, it is poten

[2021-01-26 16:16] fverdugo commented on #337
BTW, you can always implement these geters if you want to consider forward and adjoint problems separately (at the cost of loosing the optimizations that take place when they are solved together)

[code]

[2021-01-26 16:22] fverdugo commented on #337
Transposing lazily or assembling the transpose from the bilinear form / jacobian will depend on the linear solver used for the adjoint. If the linear solver allows to use a lazy transpose efficiently, this would be the best option. Since it depends on the linear solver, at some point we need to do dispatch with it.

[2021-01-26 16:25] fverdugo opened #527 "Why PR filed by CompatHelper do not trigger the CI pipeline?"
@amartinhuertas can you help with this ?

[2021-01-26 16:46] bhaveshshrimali commented on #522
Thanks a lot @fverdugo ! Indeed this seems to work and not throw the error anymore. Is building the jacobian `jac` explicitly needed? Or can I just leave it to be computed under the hood. And is that different from this? I guess not, right?

A side question: how are you computing the individual time for the jacobian compilation? `TimerOutputs`? And is this (the slowness) an issue with `ForwardDiff

[2021-01-26 16:47] bhaveshshrimali commented on #522
Done.

[2021-01-26 16:51] fverdugo commented on #522
I explicitly call `jac`.

[code]
It takes ages.

[code]
is much faster

Possibly, but I don't know.

[2021-01-26 17:02] fverdugo commented on #508
Hi @joaquinmura,
here you have a possible way of doing this (works with 0.15.1).

[code]

[2021-01-26 17:02] #508 closed

[2021-01-26 20:06] joaquinmura commented on #508
Thank you very much @fverdugo ! This runs perfectly on Julia 1.5.0 and Gridap 0.15.0. I also included
[code]
and saves the strain and the stress correctly, but interpolated to the nodes I guess.

[2021-01-27 02:23] amartinhuertas commented on #527
Yes, sure. I will come back to you when I have a solution ...

[2021-01-27 02:34] amartinhuertas commented on #527
It seems that `CompatHelper` is not triggering the CI pipeline because there is a missing `COMPATHELPER_PRIV` record in the `CompatHelper` GitHub action `yml` file. Directly quoting from:

https://github.com/JuliaRegistries/CompatHelper.jl#12-set-up-the-ssh-deploy-key-optional

Fixing it ...

[2021-01-27 02:39] amartinhuertas commented on #527
Handling this issue in PR #528

[2021-01-27 23:34] santiagobadia commented on #521
Yes, because for that, I had to change the plot (in fact, the previous plot agreed with the text). Now the plot has also been corrected.

[2021-01-28 08:46] oriolcg commented on #337
@fverdugo are you thinking on two `AffineOperator` or defining a new struct, e.g.  `AffineOperatorWithAdjoint` with two matrices and vectors, that has its own implementation of `residual`, `jacobian`, `setup`, `solve`, ... ?

[2021-01-28 15:40] oriolcg commented on #337
For serial `AffineOperators` the numerical setup can also be reused: `lu(A') = transpose(lu(A))`, right?

[2021-01-28 15:58] oriolcg opened #531 "Possible bug in Assemblers"
I was going through the code in Assemblers.jl  and I found that in https://github.com/gridap/Gridap.jl/blob/5d7252b51c0f43735e20d99e1d52c6ccab1e40f9/src/FESpaces/Assemblers.jl#L322 instead of `matvec` there should be `mat`. Otherwise `mat` does not have the Dirichlet values attached. Does it make sense?

[2021-01-28 16:09] fverdugo commented on #531
I would say this is correct. When you attach Dirichlet BCs to a matrix, you get a matrix + a vector.

Is this causing trouble in some user code?

[2021-01-28 16:15] oriolcg commented on #531
Ok. No, it is not causing any error. I just thought it might be doing things twice because it's overwriting the same entries as in line 318, right? Or the triangulations can be different?

[2021-01-28 16:17] oriolcg commented on #531
In case that this line is fine, shouldn't it be returning `_mat` instead of `mat`?

[2021-01-29 03:51] eschnett opened #533 "Email addresses in code of conduct don't work"
The code of conduct contains two email addresses. The respective hyperlinks don't work because the `mailto:` qualifier is missing in the urls.

[2021-01-29 03:59] santiagobadia commented on #533
Thanks! Solved

[2021-01-29 03:59] #533 closed

[2021-01-29 18:58] stevengj commented on #412
Is this issue resolved by gridap/GridapGmsh.jl#35?

[2021-01-29 19:16] fverdugo commented on #412
Yes! 🎉

[2021-01-29 19:16] #412 closed

[2021-02-01 11:37] fverdugo opened #534 "Assembly Refactoring"
Road map discussed with @oriolcg on 2021-02-1

1. [x]  Use `AbstractUnitRage` to describe dof ids in a FESpace since it will provide metadata needed e.g. for block arrays or partitioned arrays.

[code]

2.  [x]  Rename `get_free_values` -> `get_free_dof_values` and `get_dirichlet_values` -> `get_dirichlet_dof_values` to be more consistent with the new methods `get_free_dof_ids` and `get_dirichlet_

[2021-02-01 11:42] fverdugo opened #535 "Leverage both major and minor symmetries in SymFourthOrderTensorValue"
We currently store more coefficients than strictly needed in `SymFourthOrderTensorValue`

[2021-02-01 22:59] Paulms opened #536 "Norm not defined for Tensor Valued Spaces"
In the p-Laplacian tutorial you can use norm∘∇(u). If you try to do the same: norm∘T where T belongs to a Tensor Valued Space (like, ```TestFESpace(model,ReferenceFE(lagrangian,TensorValue{2,2,Float64,4},order),conformity=:L2)```), it doesn`t work. Adding the method: ```norm(u::MultiValue{Tuple{D1,D2}}) where {D1,D2} = sqrt(inner(u,u)) ```  in TensorValues/Operations.jl seems to solve the issue.

[2021-02-02 03:08] santiagobadia commented on #536
Hi @Paulms you can create a PR with the missing method if you like.

[2021-02-02 14:42] Paulms commented on #536
Ok, I create the PR: https://github.com/gridap/Gridap.jl/pull/538

[2021-02-02 16:51] #536 closed

[2021-02-03 05:53] amartinhuertas commented on #527
It seems that CompatHelper is already triggering the CI pipeline, see, e.g., https://github.com/gridap/Gridap.jl/pull/540

Closing the issue ...

[2021-02-03 05:53] #527 closed

[2021-02-04 13:16] oriolcg commented on #534
I did step 3 in commit fcfd1c2258eb514e3469664e0c152bad0c1eefef. The `AssemblersTests` and `SparseMatrixAssemblersTests` are passing, but now we have an issue on the FEOperators. The problem is that the FEOperators get the trial and test FE spaces from the assembler via `get_trial(assembler)`, which is not there anymore.

@fverdugo , what would be a good solution for that? Should we add the FESpac

[2021-02-04 13:49] fverdugo commented on #534
Yes.  It makes sense to have them as members.

[2021-02-04 15:34] oriolcg commented on #534
Refactoring complete in 93229183f13123fee1f063cfb7f06a4d48e13b37. Should we do a PR and then merge with step 4 or merge before PR? @fverdugo @ericneiva @pmartorell

[2021-02-04 15:37] fverdugo commented on #534
I would keep these two refactors separated for the moment. The work by @ericneiva @pmartorell can be readily included in a patch of  v0.15. Your refactoring, would lead to 0.16.

[2021-02-10 15:53] oriolcg commented on #534
Step 5 completed in c1f9a9ba86878df03d912256ce8866041f0b5c28

[2021-02-11 00:24] amartinhuertas opened #545 "Tests are failing with Julia v1.6.0-rc1 in GH actions."
See https://github.com/gridap/Gridap.jl/runs/1875200999?check_suite_focus=true#step:6:143 for more details.

[2021-02-24 20:41] urbainvaes commented on #345
I think I would disagree with this. In my opinion, one advantage of the finite element method is precisely that its output is a true function defined everywhere on the domain, unlike e.g. finite difference methods. And for visualization purposes, it would be very nice to be able to evaluate the solution on a finer grid than the element nodes.

[2021-02-25 06:47] fverdugo commented on #345
Hi @urbainvaes ! The FE functions in Gridap can be evaluated at any point you want. However, only a set of practical cases are exposed via the high-level API, but with lower level methods you can implement almost anything you can imagine.

For instance, if you have a `Triangulation`, `trian`, and for each cell in this triangulation you have a point or a vector of points `cell_to_point`, you can cr

[2021-02-26 13:07] urbainvaes commented on #345
Hi @fverdugo !

Thank you very for such a quick response! I've only just started using Gridap, and it feels absolutely great (and I say this after years of using FreeFem++ and Fenics)!

I'm not completely sure that I understand your answer. Say I want to evaluate "`uh([1, 1])`". From what you are saying, it seems that I should first figure out the cell in which my physical point `[1, 1]` is?

[2021-02-26 17:01] fverdugo commented on #345
Yes, this is the part that is not implemented now in gridap. There is some WIP in PR #523

[2021-02-26 22:29] santiagobadia commented on #345
Hi @urbainvaes ,

Thanks for the interest in Gridap. In the comment you point out, I was saying that the standard way to evaluate FE functions was cellwise, since FE functions are cellwise. Sure, a FE function can be evaluated anywhere in the domain but you need to know in which cell the point is located to compute its value. In Gridap we can do quite a lot of things without needing the functional

[2021-02-27 09:25] urbainvaes commented on #345
Hi @fverdugo and @santiagobadia,

Thank you very much for your responses! It's great to see that there is indeed already a PR on this subjet. I agree that the first step and main difficulty is to implement a search algorithm to find the cell in which the point lies. In the past, I have programmed this using a line search (drawing a line between a given element in the mesh and the evaluation point,

[2021-02-28 23:33] eschnett opened #548 "Modules in test suite are expensive"
Gridap puts each test set into a module, and then uses `using` statements to make parts of Gridap available in that module. There are about 150 modules in the test suite.

A `using Gridap` statement takes on my laptop about 3.7 seconds (Julia 1.6). I think this setup might make the test suite much more expensive than it needs to be.

A module introduces a scope and thus separates the individual te

[2021-03-01 11:33] fverdugo commented on #548
Hi @eschnett

we like to enclose the test in modules so that each test has its own scope. The test suite is quite large, and having just a single scope will be difficult to maintain.

Are the 3.7 seconds are for each instance of `using Gridap` appearing in the test suite or just for the first one ?

[2021-03-01 14:23] eschnett commented on #548
I don't recall exactly what I measured. When I try to reproduce it now, the second and all following `using Gridap` statements are very cheap. I must have been confused.

[2021-03-01 14:23] #548 closed

[2021-03-04 13:35] fverdugo commented on #425
git cherry-pick b967a908
The first cherry-pick will likely produce a conflict, but it's rather straightforward to solve.

These are going to be merged into master via PR #552

[2021-03-04 14:51] eschnett commented on #425
@fverdugo Thanks. I think I have these on my branch https://github.com/eschnett/Gridap.jl/tree/eschnett/evaluate already.

[2021-03-06 17:31] eschnett opened #558 "Different tensor types should not compare equal"
I find this:
[code]

This shouldn't be the case; 3d vectors are different from 2d tensors...

[2021-03-06 17:36] eschnett commented on #558
I think that
[code]
should instead be
[code]
together with appropriate promotion rules. Alternatively, the comparison function could explicitly compare the tensor types (`VectorValue`, `TensorValue`, etc) of the arguments.

[2021-03-09 16:07] urbainvaes opened #561 "Including partial derivatives in variational formulation"
Is there a way of using partial derivatives individually (not only as part of the gradient) when defining a variational formulation? I'd like to use Gridap to solve a hypoelliptic PDE posed on a two-dimensional domain, with second derivatives only with respect to the variable y.

[2021-03-09 16:26] fverdugo commented on #561
You need to compute ∇(u) or ∇∇(a) and extract the component you want

Eg.
[code]

(I know that computing he hole gradient is sub-optimal, but it is the easy way to implement this)

[2021-03-09 17:12] urbainvaes commented on #561
Thank you very much for your quick response! Works perfectly! :)

[2021-03-09 17:12] #561 closed

[2021-03-12 13:15] fverdugo commented on #558
Thanks for noting this @eschnett. You are right!
Can you open please a PR with the proposed changes?

[2021-03-15 08:19] #558 closed

[2021-03-15 09:09] fverdugo opened #565 "Replace object -> value in ConstantField"
value is a more meaningful name in this context.

[2021-03-23 07:13] amartinhuertas opened #569 "assert in `ConformingFESpaces.jl`correct?"
Hi @fverdugo  .... is the following assert in `ConformingFESpaces.jl` correct?

https://github.com/gridap/Gridap.jl/blob/bcaa82a2233421f92d4ef184dc33395837177435/src/FESpaces/ConformingFESpaces.jl#L80

It is always evaluated to true ... We can either remove the assert or replace by the correct one, right? If the second option, do you know which should be the assertion to check here?

[2021-03-23 07:20] amartinhuertas commented on #569
Perhaps ... `@assert length(cell_fe.cell_ctype) == length(cell_conf.cell_ctype)` ?

[2021-03-23 07:21] fverdugo commented on #569
Yes! It's a typo. Good catch

[2021-03-23 07:26] amartinhuertas commented on #569
PR https://github.com/gridap/Gridap.jl/pull/570 opened to fix this issue

[2021-03-24 05:37] amartinhuertas opened #571 "RT FEs on manifolds (writing in progress)"
Note: Some connection with issue #500

The implementation of RT FEs on manifolds presents some subtle differents with respect to the case of matching topological and geometrical dimensions. As my understanding improves, I will try to document here what is needed to support these. Work in progress ...

1. Direct quotation from Rognes et. al. paper (**Automating the solution of PDEs on the sphere an

[2021-03-24 05:38] #569 closed

[2021-03-29 08:01] amartinhuertas commented on #545
Handled in PR #572

[2021-03-29 08:02] #545 closed

[2021-03-31 08:46] urbainvaes opened #573 "Issue with <Tab> completion"
First of all, many thanks again for Gridap, it's amazing!

Since upgrading Julia to 1.6.0, I have an issue with TAB completion in Gridap v0.15.4 (see error below, which appeared when I typed `uh.<Tab>`). Would you know how I could fix this?

[code]

[2021-04-11 03:04] Omega-xyZac opened #576 "Generalise Tensor Operations"
This is more of a wish-list item/enhancement:
It would be great to try and generalise tensor operations so that we don't have to keep introducing new operators.

An example of such an operation is a operating on tensors that that are defined on our space (I've forgotten the data type that we get here). Eg. $\int_\Omega A_{ijkl}B_{il}~d\Omega. Of course, we could just define a new operation which d

[2021-04-12 22:36] Omega-xyZac commented on #576
Alternately, if we can efficiently convert to an array type from a general MultiValue type, we could use TensorOperations.jl or another package to do the contraction.

[2021-04-12 23:17] Omega-xyZac commented on #576
Ok. We can add some methods to get SArray types for 3-tensors and sym 4-tensors:
[code]
and
[code]
Tested against
[code]

[2021-04-12 23:58] Omega-xyZac commented on #576
This is working for the test I wrote below. It currently won't output a sym 4-tensor as I haven't written the code to construct this from a 4-array.
[code]

[2021-04-13 02:34] Omega-xyZac commented on #576
This looks like an adequate solution. We might be able to macro-ise this as in TensorOperations.jl.
[code]

[2021-04-13 06:27] Omega-xyZac commented on #576
And I haven't tested this but I think this can then interact with GridapType etc via
[code]

[2021-04-13 23:29] Omega-xyZac commented on #576
Testing the above, it appears that it fails when considering a tensor of OperationCellField type that is contracted with another constant tensor (or a vector of constant tensors).
[code]

[2021-04-14 05:43] Omega-xyZac commented on #576
Ok. So we can avoid the error by using contract to just skip written new lines in operations. ie.
[code]
Although it's nice to skip writing most of the functionality. It would be nice if we could generalize this further.

[2021-04-14 06:48] Omega-xyZac commented on #576
Still stuck on the GridapTypes. However, we can now write a macro, say, MTensor using
[code]

[2021-04-14 08:41] Omega-xyZac commented on #576
Ok. A nice way around this is to generate a temp operation inside the macro. This is currently working for the cases in the code.
[code]
One issue now is that D isn't being set inside the macro and for some reason I can't set it as the output of the quote ie.
[code]

[2021-04-14 23:29] Omega-xyZac commented on #576
Okay. Adding the other possible types (except function) we have
[code]
Testing this should be straightforward for the constant tensors and arrays of constant tensors. However, the cell fields may be more difficult. We could try to construct them using some simple FEFunction outer producted with a Kronecker delta.. Thoughts?

[2021-04-15 01:06] Omega-xyZac commented on #576
I've written some tests and most of these work:
[code]
The tests that aren't working are
[code]
The issue here is that the results at cell points are, for example,
[code]
Ideas?

[2021-04-15 01:25] Omega-xyZac commented on #576
Ok. The above was fixed and I made some changes to the macro. Here is the code + testing:
[code]

[2021-04-22 06:59] fverdugo opened #581 "Refactor block machinery"
We need to fix the old flaw that in order to build the block structure of one field one needs to know the number of dofs in the other fields.

[2021-04-22 07:00] fverdugo commented on #581
This is leading to a bug in Gridap#master in MultiField spaces with constraints. No obvious way of fixing this without fixing the problem at a more fundamental level.

[2021-04-27 05:16] santiagobadia commented on #534
@oriolcg

I see that you have renamed the free values but not the fixed values. Now the notation is inconsistent. Can you fix it?

Thanks!

[2021-04-27 05:43] fverdugo commented on #534
Some deprecation warnings would be useful here! So that people still using the old names know which new ones should use.

[2021-04-29 08:26] fverdugo commented on #581
Fixed in PR #583

[2021-04-29 08:26] #581 closed

[2021-04-29 08:27] fverdugo opened #584 "Automatic differentiation in multifield with fields of different num dofs."
This has been broken after PR #583 and should be fixed.

[2021-04-29 14:41] oriolcg commented on #411
Has this issue been solved?

[2021-04-29 14:56] fverdugo commented on #411
Yes!

 You can have real-valued shape functions and complex dof values, to generate a complex-valued interpolations.

https://github.com/gridap/Gridap.jl/blob/d1236879510c6703221a036926a004782ad75546/test/FESpacesTests/SingleFieldFESpacesTests.jl#L43

[2021-04-29 14:56] #411 closed

[2021-05-03 14:11] oriolcg opened #586 "Simplexify does not work with periodic boundary conditions"
Applying the `simplexify` function to a `CartesianDiscreteModel` with periodic boundary conditions results in an error.

[2021-05-07 09:05] fverdugo commented on #430
BlockArrayCoo has been removed and this issue is out of date now.

[2021-05-07 09:05] #430 closed

[2021-05-07 14:24] oriolcg opened #588 "Constant multiplying a multi-field DomainContribution not working"
Hi @fverdugo,

The following MWE results in an error. I'm confident that this was working with the version before the block refactoring.

[code]

[2021-05-11 05:31] fverdugo commented on #588
Hi @oriolcg can you paste the stake trace of the error?

[2021-05-11 06:48] oriolcg commented on #588
Here it is:
[code]

[2021-05-11 06:50] oriolcg commented on #588
Ups! I see what's wrong now. I'm calling it from the jacobian!

[2021-05-11 06:53] oriolcg commented on #588
A better MWE:
[code]

With the same error:
[code]

[2021-05-11 09:54] oriolcg commented on #588
Yes, that solved the problem. I'll add a test and make the PR.

[2021-05-12 06:06] amartinhuertas opened #591 "Error of `get_data` on `OperationCellField` argument made out of `SingleFieldFEBasis` (arising from) `MultifieldCellField`"
Hi @fverdugo,

I have detected what I believe is an unintended behaviour (to be confirmed). In particular, the MWE below generates an error (also included below for completeness) in the last line, and, as far as I know, it should not. The `CellField` object `cf` can be succesfully evaluated (`∫(cf)dΩ`) . However, when one tries to extract the array of fields out of it, then the error below appears

[2021-05-12 06:15] fverdugo commented on #591
Yes, the error is correct. This is not implemented since it fact is usually not needed. We only need to extract the cell-weise array of fields for the shape functions or its gradient, divergence, curl, etc, not for the result of operations between shape functions. (The complexity of type parameters of the type of returned object blows up very rapidly). What is actually needed most of the times is

[2021-05-12 06:25] amartinhuertas commented on #591
Ok. This error didn't happen previous to the last refactoring of the `MultiField` machinery, right?

I do not really need to call `get_data` here. This was just a MWE to reproduce the error.

In other contexts, typically when exploring new developments, I need to bypass the high-level API (Integral + CellField + Measure). In such cases, is useful to be able to manually build array of fields before

[2021-05-12 06:32] amartinhuertas commented on #571
Solve in PR #577 and #579

[2021-05-12 06:32] #571 closed

[2021-05-12 06:33] fverdugo commented on #591
Provably yes, but the resulting object should be very inefficient.

I would suggest to evaluate the shape functions as soon as possible and then to work with the result. This is more inline with how Gridap is implemented and also is the key of many optimizations.

Example:
[code]

[2021-05-12 06:37] amartinhuertas commented on #591
Ok. Good reason for the error then. I did not know that the resulting object was very inefficient.

Ok. It does not seem such a big deal. Closing issue ...

[2021-05-12 06:37] #591 closed

[2021-05-14 00:22] amartinhuertas opened #593 "Obsolete comment (and function?) in FESpaceInterfaces.jl"
Hi @fverdugo,

while digging in the internals of Gridap.jl, I just found the following obselete comment:

https://github.com/gridap/Gridap.jl/blob/7414a4e6c83510e0bf20d0aeaa6e651e2fe02e30/src/FESpaces/FESpaceInterface.jl#L211

(MultiFieldFEBasis no longer exists after refactorization). I wonder whether the function associated to the function is still needed (no idea, I did not try to determine thi

[2021-05-19 07:03] amartinhuertas opened #594 "Help with understanding `lazy_map` overload"
Hi @fverdugo,

I need your help!

do you know which is the rationale behind the following `lazy_map` overload?

https://github.com/gridap/Gridap.jl/blob/7414a4e6c83510e0bf20d0aeaa6e651e2fe02e30/src/Arrays/PosNegReindex.jl#L64

I do not see why it is implemented like that. In particular, why should one `Reindex` the `x` array? (as far as I understand an array with evaluation `Points`). It makes mor

[2021-05-19 07:23] amartinhuertas commented on #593
A follow-up on this issue. The function mentioned seems to be being executed from the tests:

https://codecov.io/gh/gridap/Gridap.jl/src/7414a4e6c83510e0bf20d0aeaa6e651e2fe02e30/src/FESpaces/FESpaceInterface.jl

Thus it seems to be needed. It would be great to also know from where it is being called, but I think this is not possible with codecov.io ...

[2021-05-19 07:29] fverdugo commented on #594
Hi @amartinhuertas I would say that your proposal should not work in general.

Here there are different sets of indices

1. Vectors `a` and `x` are indexed with the same index, namely `i`
2. `apos` is indexed with another index, namely `ipos`
3. `aneg` is indexed with another index, namely `ineg`

thus you cannot call
[code]
since lazy_map requires arrays with the same indices (at least the same l

[2021-05-19 07:30] fverdugo commented on #594
BTW, this optimization takes place e.g. when using extended FE spaces, e.g. in FSI problems.

[2021-05-19 07:34] fverdugo commented on #593
Replace

"We implement this for FEBasis since MultiFieldFEBasis will use this code"

by

"We implement this for FEBasis since extensions of FEBasis might want to re-use this code"

Eg,  we have an extension of FEBasis in a GridapODEs.

[2021-05-19 10:17] amartinhuertas commented on #593
Done in PR #595

[2021-05-19 10:17] #593 closed

[2021-05-28 06:07] amartinhuertas opened #603 "Inconsistency among eltype of LazyArray and the type of the entry returned by get_index"
Hi @fverdugo,

I think I have found a subtle issue (BUG?) in Gridap's kernel. Find below a not minimum working example in which the issue is reproduced. In particular, the assertion below fails, and it should not because the invariant of the eltype of a LazyArray being equal to the type of the entry returned by `get_index` cannot be violated; see, e.g.

  https://github.com/gridap/Gridap.jl/blob/1

[2021-05-28 08:11] amartinhuertas commented on #603
Remark from @fverdugo: *"el error que dices, normalmente se soluciona definiendo return_value  para el Map+args que te estan dando problemas"*

[2021-05-28 10:30] amartinhuertas commented on #603
A follow-up on this issue. It turns out that the working example above does not actually reproduce the issue (sorry about that). The assert statement was wrong (`@assert eltype(uh_btrianx) == eltype(uh_btrianx[1])` -> `@assert eltype(uh_btrianx) == typeof(uh_btrianx[1])`). After fixing it, it returns `true`.  It seems that I will have to work a little bit more to get a working example that reprodu

[2021-05-28 11:11] amartinhuertas commented on #603
Ok, after a little twist, I got the WE right. See below.

**CRUCIAL NOTE: In order to let this code work, the modification discussed here https://github.com/gridap/Gridap.jl/issues/594#issuecomment-843951712 is required!**

[code]

[2021-05-28 13:29] amartinhuertas commented on #603
I tried, but could not solve the issue using an specialized definition of `return_value`. Indeed, I am not sure if it is possible. The `eltype` of the `posneg_uh_btrianx` LazyArray is ultimately decided by a call to `get_index` with `uh_btrian`. This in turn calls the pair of `return_cache`/`evaluate!` functions pointed above in `ArrayBlocks.jl`.

Thus, I could solve (workaround?) the problem usin

[2021-05-28 13:32] amartinhuertas commented on #603
Yes. Do you see anything wrong there that might be causing the issue? Perhaps to use the same `T` at the last call to `lazy_map`?

[2021-05-28 13:37] amartinhuertas commented on #603
Please note that, without the modification, the following line fails:

[code]

[2021-05-28 13:41] fverdugo commented on #603
OK! this looks more interesting.  What is the length of `uh_btrian`?  If it is 2 or larger, it should work unless there is a bug.

[2021-05-28 13:49] amartinhuertas commented on #603
I has as many entries as facets there are in the boundary triangulation (6 in this case).

What do you mean by this. Not sure if I understand. The current version of the function at hand, i.e.,

https://github.com/gridap/Gridap.jl/blob/7414a4e6c83510e0bf20d0aeaa6e651e2fe02e30/src/Arrays/PosNegReindex.jl#L64

fails, because [-1,2] is not an "exhaustive" mapping, i.e.,

https://github.com/gridap/Gri

[2021-05-28 14:48] fverdugo commented on #603
Now I remember!

This check is needed since all the PosNegReindex machinery is designed, implemented, and optimized assuming that `i_to_iposneg` defines a PARTITION of a 1:n range into 2 sets. E.g., DOF ids partitioned into free/dirichlet or cell ids partitioned into void/active.  Thus, the use of this `Map` is restricted to this case for now.

Options:
1. Generalize  `PosNegReindex`. Careful work

[2021-05-28 14:49] fverdugo commented on #603
I would clearly go for 2.

[2021-05-29 04:41] amartinhuertas commented on #603
Ok, this is what I could grasp reading the code. From your experience, what is the peformance hit incurred by not using this optimization? Anyway, as you suggest, I think I can bypass PosNegReindex (see below for more details).

Good question. We have a cell-wise array X with the per-cell "signed" (more in the next sentence) global facet identifiers. For each cell K, and facet F in \partial K, if

[2021-05-31 07:10] #483 closed

[2021-06-02 18:33] fverdugo commented on #534
Closed via #606

[2021-06-02 18:33] #534 closed

[2021-06-02 18:34] fverdugo commented on #565
Closed via #606

[2021-06-02 18:34] #565 closed

[2021-06-02 21:53] santiagobadia opened #607 "Renaming point_to_cell!"
You are exporting `point_to_cell!` but the function to generate its cache object seems to be private.

Here, there are 2 options:

1. Do not export `point_to_cell!` and rename it to  `_point_to_cell!` so that it is clear that it's private.
2.  Make public  also the mechanism to generate the cache. In this case, follow the API of the abstract type `Map` just to be consistent with other parts of the

[2021-06-02 21:58] #425 closed

[2021-06-02 23:02] #607 closed

[2021-06-03 12:12] Omega-xyZac opened #610 "Summation of LazyArrays"
Suppose we are contracting, operating then integrating on tensors generated from an FE function. Then you can encounter very complex LazyArrays such as the example below. This is fine unless you want to sum up the array. Summing an array such as the one below can take almost 60 seconds - not a surprise given the typing.

Is there a faster way we could sum such an array? Maybe not given the nature

[2021-06-03 12:25] fverdugo commented on #610
Hi @Omega-xyZac Can you share the code that generates this?

[2021-06-03 12:26] fverdugo commented on #610
It should be possible to have arbitrarily complex operations at gauss point level without blowing up the complexity of the type signature of the lazy array.

[2021-06-03 12:55] Omega-xyZac commented on #610
Hi @fverdugo, thank you for the fast reply. I have a very large code base so sharing isn't really an option. However, that example is generated using the below:
[code]
where data_1,data_2,... are of data type
[code]
and the @GTensor macro is the script that I've mentioned in a previous issue for doing general contractions by leveraging the TensorOperations package. Though, these particular operati

[2021-06-03 16:20] fverdugo commented on #610
I cannot decipher the code, but it seems that you are implementing complex operations in a not so efficient way for the gridap backend.

You need to implement the complex operation in a function f that takes values at a generic integration point, and then use Operation(f)(...) or f\circ(....) just like in the linear elasticity or the hyperelasticity tutorial

[2021-06-03 22:17] Omega-xyZac commented on #610
Thank you for the suggestion! I think I've found a faster way to do this by integrating the quantities A, ℬ, etc. prior to contractions. I will also try your suggestion. I'll close this issue for now :).

[2021-06-05 07:19] Omega-xyZac commented on #610
Hi again @fverdugo, I tried your suggestion and implemented some functions that take values at generic integration points:
[code]
Is this along the lines of what you meant? Do you have any other ideas for how to speed this up? Appreciate any suggestions you might have.

[2021-06-08 23:47] tmigot opened #612 "Nnz and structure of matrices"
In algorithms where we compute several times the jacobian and/or the hessian of a problem with different values of `x`, it would be more efficient to allocate once the structure of the matrix, i.e. the rows and columns indices of the non-zeros elements.

The functions `_jacobian` and `_hessian` are computing the matrix directly. It would be great to also have additional functions computing the num

[2021-06-10 06:01] fverdugo commented on #612
Hi @tmigot !

these functions compute the cell-wise contributions to the jacobian and hessian. i.e., they are elemental (dense) matrices. If you want the global sparse matrix, you need to assemble these contributions.

Note that the assembly machinery allows one to create the global sparse matrix from scratch or to assemble in-place on an existing sparse matrix

[2021-06-10 18:16] oriolcg opened #614 "Issue integrating multifield in boundaries"
Hi @fverdugo,

As mentioned in a private conversation, I am getting an error when integrating a quantity that depends on a component of a `MultiField` over a boundary. In what follows I attach the reproducer of the error.

[code]

The error that I get is the following:

[code]

Note that the error appears at different iterations of the `for` loop (without any apparent patern). The most intriguing

[2021-06-13 18:51] oriolcg commented on #614
Just an update on this issue. Exactly the same error appears in the `DGHeatEquationTests.jl` in `GridapODEs`, see https://github.com/gridap/GridapODEs.jl/runs/2788676141#step:6:481

This may indicate that the problem appears when evaluating boundary integrals. Could it be related to some of the optimizations done in latest Gridap version? I'm thinking on the line that some arrays are stored and re

[2021-06-14 06:49] fverdugo commented on #614
Optimizations are the root of all evil. Thus, yes it could be.

I have notieced that the error happens in a different step `i` each time I execute the example. This is very strange!

[2021-06-14 09:29] fverdugo commented on #614
It sould be fixed by PR #616. If not, please reopen the issue @oriolcg

Closing for now

[2021-06-14 09:29] #614 closed

[2021-06-14 09:54] fverdugo commented on #614
@oriolcg can you confirm that this has fixed the problem in your use cases?

if so, I'll will release the fix.

[2021-06-14 10:20] amartinhuertas opened #617 "Why not an error?"
Hi @fverdugo,

how come this line:

https://github.com/gridap/Gridap.jl/blob/d1cadf6518c0e45d8efc47978e4f8e441d8590e5/src/Geometry/Geometry.jl#L127

not generate an error if `TriangulationPortion` does no longer exist?

A related question, what is the type that currently offers the whole (or partial) functionality  that `TriangulationPortion` offered? `RestrictedTriangulation` ?

[2021-06-15 00:26] amartinhuertas commented on #617
Removed no longer required export in PR https://github.com/gridap/Gridap.jl/pull/618

[2021-06-15 06:50] #617 closed

[2021-06-17 05:34] amartinhuertas opened #619 "Doubts in regards to some functions in `ArrayBlocks.jl`"
Hi @fverdugo, @santiagobadia

I have a pair of questions regarding some functions in `ArrayBlocks.jl`. (I had to take a look at the file in some detail for the work I am currently doing).

1. I have the impression that some of the implementations of `BroadcastingFieldOpMap` (e.g., [this one](https://github.com/gridap/Gridap.jl/blob/a52bc10503f77f700b7cee096c7311aebc131cee/src/Fields/ArrayBlocks.jl

[2021-06-28 08:27] fverdugo commented on #619
`BroadcastingFieldOpMap` is intentionally not a general broadcast. The general broadcast is `Broadcasting`. The former assumes a number of pre-conditions that allow one to implement the block-related things in an efficient way. These preconditions are always fulfilled when `BroadcastingFieldOpMap` comes from a field operation in the weak form. I.e., you only operate test and trial shape funs via a

[2021-07-01 09:02] amartinhuertas opened #626 "Correct logical condition in if statement?"
Hi @fverdugo,

is the following logical condition correct?

https://github.com/gridap/Gridap.jl/blob/1b0cbdb94ddb90fb143403983665298a09e17dae/src/Geometry/BoundaryTriangulations.jl#L381

The same operand is used twice!

[2021-07-01 10:49] amartinhuertas commented on #626
Ok. I now see that the condition actually uses different operators in each operand, i.e., `==` and `===`.

If the first condition is true, the second condition true, right? Thus, I guess that the first condition can be eliminated.

In any case, I believe that you are using this for performance reasons. Closing the issue.

[2021-07-01 10:49] #626 closed

[2021-07-13 04:26] tmigot commented on #612
Sorry for the late reply, let me just be concrete to be sure I understand correctly. I usually means the global sparse matrix. I believe in practice we would ideally want:
- the number of non-zeros elements without having to compute (and therefore allocate) the whole sparse matrix.
- get the coordinates of the non-zeros elements without computing the values of the global matrix.
- In-place version

[2021-07-13 05:47] tmigot opened #629 "Error using autodiff in Incompressible N-S"
I was trying to run [tutorial 8: the incompressible Navier-Stokes](https://gridap.github.io/Tutorials/stable/pages/t008_inc_navier_stokes/) without providing the jacobian matrix:

[code]
However, I get the following error:
[code]

[2021-07-13 09:08] fverdugo commented on #629
This is known, see #584.

I can provide some advice if you want to help fixing this.

[2021-07-15 11:53] fverdugo commented on #629
@tmigot for the moment, you can use Gridap v0.15, which does not have this problem. The high level API is almost the same in v0.15 and v0.16.

[2021-07-15 14:32] tmigot commented on #629
Thanks for the feedback @fverdugo . I based most of my code on automatic differentiation of functions using MultiFieldFEFunction, so it is not easy to fix.

It is indeed working with v0.15. I will follow #584 and close this.

[2021-07-15 14:32] #629 closed

[2021-07-15 22:01] #610 closed

[2021-07-15 22:01] #576 closed

[2021-07-15 22:02] #463 closed

[2021-07-17 02:29] amartinhuertas opened #630 "Gridap Warm-up file (for PackageCompiler)"
Hi @amartinhuertas !

I have been thinking about this and I have some comments

1. The approach seems a bit complicated to me. In particular, with the clones of Gridap, Gridap Tutorials. It feels like we are trying to re-implement something that the package manager already provides.
2. Wrapping calls to PackageCompiler is a bit rigid and one needs to learn the API of the wrapper. I would prefer to

[2021-07-17 02:38] amartinhuertas commented on #594
It turns out that, after a huge refactorization of my code, am no longer in need of this feature. Closing the issue.

[2021-07-17 02:38] #594 closed

[2021-07-17 02:45] amartinhuertas commented on #619
Ok, makes sense. What about point 2.?

[2021-07-26 13:30] fverdugo opened #631 "[Proposal] rename `dirichlet_tags` to simply `tags`"
Now:
[code]

Proposal:
[code]

This would lead to less writing and be more consistent with the other constructors. The change is feasible since we only have (and will possibly always have) one kind of tags in the FESpace constructor.  In addition, it would fix  https://github.com/gridap/Tutorials/issues/78

[2021-07-30 14:20] mohamed82008 opened #633 "Element-specific material properties"
Is it possible to have element specific material properties? I saw the use of `tags` for multiple materials. Can the element-specific vector be a vector of continuous values?

[2021-07-30 14:22] mohamed82008 opened #634 "Define a Dirichlet boundary condition for the whole domain"
Is it possible to define a Dirichlet boundary condition on the entire domain for a field?

[2021-07-30 14:31] mohamed82008 opened #635 "Access the coordinate x in the weak form"
Is it possible to access the coordinate in the weak form?

[2021-07-30 14:53] oriolcg commented on #633
Hi @mohamed82008 , you can have element specific material properties, check out this tutorial on adding a damage model: https://gridap.github.io/Tutorials/stable/pages/t010_isotropic_damage/#Tutorial-10:-Isotropic-damage-model-1. You can also make your material properties depend on a continuous function in space (and time).

Does it answer your question?

[2021-07-30 14:58] oriolcg commented on #634
Yes, it is possible:
[code]

[2021-07-30 14:59] mohamed82008 commented on #633
You mean using the `r = CellState(r_0,dΩ)`?

[2021-07-30 15:02] oriolcg commented on #635
Yes, you can write a weak form like:
[code]

Is that what you are looking for?

[2021-07-30 15:03] mohamed82008 commented on #635
Ah perfect! Yes this is what I am looking for. Thanks!

[2021-07-30 15:03] #635 closed

[2021-07-30 15:09] mohamed82008 commented on #634
Awesome, thanks!

[2021-07-30 15:09] #634 closed

[2021-07-30 15:13] mohamed82008 commented on #633
Is there a way to access the element index from within the weak form?

[2021-07-30 15:43] fverdugo commented on #633
@mohamed82008 this can be done very easily.

Say you have `cell_param::Vector{T}` a vector holding a parameter of type `T<:Number` for each cell of your triangulation `Ω`. Then, simply build `τ = CellField(cell_param,Ω)`. Now you can use `τ` in your weak form just like any other variable. E.g. `a(u,v) = ∫( ∇(v)⋅(τ*∇(v) )dΩ`.

[2021-07-30 15:49] mohamed82008 commented on #633
Thanks @fverdugo! Now I can do element-based and node-based topology optimization in Gridap!

[2021-07-30 15:49] #633 closed

[2021-08-03 05:59] fverdugo commented on #385
This was resolved in Gridap 0.15.

[2021-08-03 05:59] #385 closed

[2021-08-03 21:15] tmigot commented on #612
I finally used the functions:
`Gridap.FESpaces.count_matrix_nnz_coo(assem, matdata_y)`
`Gridap.FESpaces.allocate_coo_vectors`
`Gridap.FESpaces.fill_matrix_coo_numeric!`

[2021-08-03 21:15] #612 closed

[2021-08-04 05:47] fverdugo commented on #612
For the record, these functions have been replaced by other ones in Gridap 0.16.

[2021-08-12 10:33] fverdugo opened #637 "Check efficiency of RT implementation"
By looking at https://github.com/gridap/Gridap.jl/blob/67e5ee146ee0a3731db30c79ae2c5144c160c1b1/src/FESpaces/DivConformingFESpaces.jl#L116

I would say that we are reevaluating the reference polynomials each time we visit a new cell.

[2021-08-12 10:41] fverdugo commented on #637
I think that we need to replace
[code]

by

[code]
and remove `_transform_rt_shapefuns`.

Perhaps, Idem with the celldofs

[2021-08-13 01:59] amartinhuertas commented on #637
## Base line commit 67e5ee146ee0a3731db30c79ae2c5144c160c1b1  (2D Darcy on a box)

Profile data attached below

[code]

![Screenshot from 2021-08-13 11-58-53](https://user-images.githubusercontent.com/38347633/129294266-08311d63-399e-45fb-9bf3-f9285d523ad6.png)

[profile_bef_opts.zip](https://github.com/gridap/Gridap.jl/files/6979456/profile_bef_opts.zip)

[2021-08-13 03:25] amartinhuertas commented on #637
# After first optimization pointed by @fverdugo above (92a69abec2c050c025d7a72f62b591e03b54131c)

We have improved performance. The mountains on the left hand side margin (assembly) have been reduced. Still there is type instability in the evaluation of the Monomial Basis (I will take a look). It is surprising the huge amount of time spent in the explicit GC after assembly.

Anyway, I guess @fverd

[2021-08-13 11:22] amartinhuertas commented on #637
After marationian sessions of profiling, I think I have detected a performance pitfall in the current version of Gridap when working with differential operators (eg., gradient) applied to ArrayBlocks of fields. The pitfall is reproduced with the mwe below. I have come up with a solution in commit dc4350f5187ed5d948883ba5d0211709969e0e28. I am concerned about the following:

1. Is it the best possi

[2021-08-13 12:30] amartinhuertas commented on #637
# After second optimization (https://github.com/gridap/Gridap.jl/commit/dc4350f5187ed5d948883ba5d0211709969e0e28)

We have improved the performance of the assembly even more. An additional mountain has disappearead on the left hand side of the flamegraph. We are getting there!

[code]
![Screenshot from 2021-08-13 21-15-47](https://user-images.githubusercontent.com/38347633/129357391-61dfe34d-2f80-

[2021-08-13 12:43] fverdugo commented on #637
the "mountains" look very nice now!

If you are able to fix the plateau, you would easily get a 2x improvement.

[2021-08-13 12:57] amartinhuertas commented on #637
The plateau is GC (explicit call after assembly). Do u think this is solvable?

[2021-08-13 13:46] amartinhuertas commented on #637
100x100 quads

[2021-08-13 14:00] fverdugo commented on #637
this CG time seems a lot! what does happen if you comment the line? are you running with --check-bounds=no ?

[2021-08-14 04:10] amartinhuertas commented on #637
No, I was not. Results with --check-bounds=no in the table below. 5-8% improvements, the GC plateu still there, though.

[code]

![Screenshot from 2021-08-14 14-09-22](https://user-images.githubusercontent.com/38347633/129433572-49facaad-d083-4b33-b7e9-16c08187e048.png)

[2021-08-14 04:34] amartinhuertas commented on #637
The assemly times improved dramatically! Why did you add that GC() line after assembly? (I guess to reduce permanent memory allocation, right?)

[code]

![Screenshot from 2021-08-14 14-23-07](https://user-images.githubusercontent.com/38347633/129434032-d7b8a6a3-2b0a-40c4-9899-91fc27eddd86.png)

[2021-08-14 05:39] amartinhuertas commented on #637
New optimization. Using DIV and integral over the reference domain. Only very mild improvements observed. I would say this is because the optimization with CartesianGrids ... the Jacobian is the same for all cells, and this is exploited. For unstructured meshes I would expect even higher improvements.

[code]

![Screenshot from 2021-08-14 15-34-49](https://user-images.githubusercontent.com/3834763

[2021-08-14 10:16] amartinhuertas commented on #637
I looked at this, and I came with the optimization in commit a2504313262b8d4bcd3d13a7e7b590aeff5c95e7. However, I did not observe significant performance improvements. This might be related to the fact that in the examples I have been playing with use AffineMap, CartesianMaps, etc., i.e., for general unstructured mappings we might observe an improvement.

For the records, the code I used to measur

[2021-08-16 01:55] amartinhuertas opened #641 "Reducing permanent memory storage in `BoundaryDiscreteModel` and `DiscreteModelPortion` ?"
Hi @fverdugo, @santiagobadia

while taking a careful look at the current implementation of `BoundaryDiscreteModel` and `DiscreteModelPortion`, I am wondering whether it is possible (or not) to reduce the amount of permanent memory storage that these data types require.

In particular, the former stores a reference to the background model here:

https://github.com/gridap/Gridap.jl/blob/5bb96bdbf974

[2021-08-18 09:41] amartinhuertas opened #644 "Rationale behind `DiscreteModelPortion` inheritance relation"
Hi @fverdugo,

is there a rationale behind this inheritance relationship?

https://github.com/gridap/Gridap.jl/blob/master/src/Geometry/DiscreteModelPortions.jl#L4

I would say it is a typo, isn't? Perhaps I am missing something ...

Let me know your thoughts!

[2021-08-18 09:43] fverdugo commented on #644
It looks it should be `<: DiscreteModel{Dc,Dc}` right?

[2021-08-18 09:46] amartinhuertas commented on #644
Yes, I think so. I will PR this change, ok?

[2021-08-18 09:46] fverdugo commented on #644
OK!

[2021-08-18 09:47] fverdugo commented on #644
with some test calling num_cell_dims, num_point_dims

[2021-08-18 09:49] amartinhuertas commented on #644
sure ... this is what I am writing now ...

[2021-08-18 10:16] amartinhuertas commented on #644
Worked it out in PR https://github.com/gridap/Gridap.jl/pull/645

[2021-08-18 14:03] #644 closed

[2021-08-19 04:04] amartinhuertas opened #646 "Current approach to manifold mesh generation"
Hi @fverdugo, @santiagobadia,

I have spent some time looking at the approach we are following to generate discretizations of a manifold, to represent them in `Gridap.Geometry`, and to compute the manifold mesh outward unit normal (I think @fverdugo has mentioned that the current approach is temporary, not sure if the following is among the causes.)

While this approach is clearly functional (e.g.

[2021-08-19 05:45] fverdugo commented on #646
`BoundaryDiscreteModel` is likely to be removed in the future, hopefully near future.

About the computation of normals. I remember that we discuss this quite in detail with @santiagobadia and ended up with the current solution. As long as I remember the reasons include:

  - In general, it is not possible to "orient" a manifold that is not the boundary of a volume, e.g., the möbius strip.
  - Whe

[2021-08-19 06:01] amartinhuertas commented on #646
Ok, but if you remove it, you have to develop something alternative to provide similar functionality, right?

Ok. I see which are the benefits of the current solution. Using the inverse of the Jacobian of the cell combined with the normal in reference space you always get the outward unit normal, no matter whether the determinant of the Jacobian is positive or negative.

Contravariant Piola elemen

[2021-08-19 06:02] amartinhuertas commented on #646
Anyway, I can leave with the current solution, I just wanted to contribute to the discussion ...

[2021-08-19 06:57] amartinhuertas commented on #646
BTW, not 100% related to this discussion, but I found a geometry-related paper that has been recently accepted in ACM TOMS here: https://arxiv.org/abs/1910.09824

[2021-08-19 07:46] fverdugo commented on #646
I think that the problem/missing part now is that we are not able to read eg from gmsh a discrete model on a manifold. In particular, we do not have a clear place to store the normal vector that gmsh would provide. This can/needs to be included in the refactoring of the geometry module I am planning.

[2021-08-19 08:22] amartinhuertas commented on #646
Yes, agreed. But I think we are also interested into generating manifold meshes in-core, i..e, without relying on data files, etc. E.g., a cubed mesh sphere, or an icosohedral mesh grid. (https://en.wikipedia.org/wiki/Geodesic_polyhedron)

With regards to the refactoring, it might help that we sketch a plan before starting to code (not now, just whenever we get into this). I might be able to help

[2021-08-19 08:45] amartinhuertas commented on #646
BTW ... I forgot ... the following line is NOT correct for manifolds:

https://github.com/gridap/Gridap.jl/blob/f1ad18665a53e71fc5b5e284ca9311dd6f48b983/src/Geometry/SkeletonTriangulations.jl#L256

Two adjacent cells in a manifold might not be co-planar ...

[2021-09-14 18:09] AndiMD opened #657 "Crash on Julia 1.7.0-beta4 constructing TestFESpace"
The following works with Julia 1.6.2 but crashes with 1.7.0-beta4. Using Gridap v0.16.5.

[code]

MWE:
[code]
[code]

[2021-09-15 09:07] fverdugo commented on #657
@AndiMD thanks for reporting! I'll we forward this to Julia.

[2021-09-17 08:33] volkerkarle opened #658 "Complex PDEs?"
Dear developers,

Would this also be the right library to work on a complex solver (for a PDE such as Gross–Pitaevskii equation)?

Thanks,

v.

[2021-09-17 09:09] fverdugo commented on #658
See e.g. https://gridap.github.io/Tutorials/dev/pages/t012_emscatter/#Tutorial-12:-Electromagnetic-scattering-in-2D-1

We setup a complex-valued finite element space there.

[2021-09-20 15:41] tmigot opened #659 "`MethodError: (TensorValue{0, 1, Float64, L} where L)() is ambiguous`"
I have the following error when using `Boundary Triangulation`. I am still using `Gridap v0.15.5` (hoping for #584 :) ) and `ChainRulesCore v1.4.0`. This seems to be fixed in 0.16, but any idea of a temporary fix? Thanks!
[code]

[code]

[2021-09-20 15:58] ericneiva commented on #659
Hi, @tmigot, a temporary fix could be to pin `ChainRulesCore` to version 1.3.0.

[2021-09-21 04:51] tmigot commented on #659
Thanks @ericneiva !

[2021-09-21 04:51] #659 closed

[2021-09-22 14:00] fverdugo commented on #584
Hi @amartinhuertas,

In order to fix this, we need the methods you implemented for merging an ArrayBlock into a standard Julia Array.

Can you isolate this implementation and open a PR?

Once we have this, fixing the autodiff for multi-field pdes should be easy.

[2021-09-24 12:55] fverdugo opened #660 "Pending tasks after Geometry module refactoring."
- [ ] Clean up: remove old files, do not export deleted functions etc.
- [ ] Implement a compression mechanism for unfitted FEM in the new version
- [ ] Caching the result of `get_active_model` for instances of `BodyFittedTriangulation`, `BoundaryTriangulation`
- [ ] A more elegant way of computing the restriction of the restriction of a triangulation in the user driver

[2021-09-24 12:55] fverdugo commented on #660
WIP in branch https://github.com/gridap/Gridap.jl/tree/geometry

[2021-09-27 07:45] ConnorMallon opened #661 "AutoDiff on sub-domains"
There are some cases when using Gridap and Gridap's Autodiff machinery together does not work. Here we have a problem where a FEFunction only exists in certain parts of the domain. It means that if we do something like get_cell_dof_values we get back an array for which some of the entries are empty. We have problems then using Autodiff in the multifield case where one field is empty and the other

[2021-09-28 09:26] fverdugo commented on #661
Hi @ConnorMallon I can reproduce this in the `release_0.17` branch with the following error:

[code]

automatic differentiation for multi-field is not fully implemented now.

[2021-09-28 09:37] fverdugo commented on #661
Unfortunately this is not a dummy bug that can be solved easily. It is a whole functionality still not implemented in the library.

To implement this one needs to understand:

- a bit the internals of ForwardDiff
- how AD wrt FEFunctions is implemented in Gridap
- how FE spaces are generated in a portion of the domain (as of the new version in `release_0.17`)
- how mulit-field is implemented in Gr

[2021-09-28 09:46] amartinhuertas commented on #584
Ok. I will try to do it. I cannot guarantee to have it very soon, though, I have many other tasks on the queue.

[2021-10-05 04:15] amartinhuertas opened #668 "NLSolve + GridapPardiso + SparseMatricesCSR error"
Hi @fverdugo,

when running the following WE, I get the error below the example code. The error disappears if one uses `SparseMatrixCSC` instead of `SparseMatrixCSR`.  I think the error is related to the `NLsolver` cache, which holds an object of type `::NLSolversBase.OnceDifferentiable{Array{Float64,1},Array{Float64,2},Array{Float64,1}}`. Shouldn't `Array{Float64,2}` be `SparseMatrixCSR`. Do u kn

[2021-10-05 05:36] fverdugo commented on #668
I have never used Pardiso within a non-linear solver. Perhaps `similar` is not properly implemented for `SparseMatrixCSR`.

[2021-10-05 07:10] amartinhuertas commented on #668
Ok, I have now learnt that it is not actually a Pardiso issue. It is a `SparseMatricesCSR` issue, triggered from `NLSolve.jl`. In particular, in this line:

https://github.com/JuliaNLSolvers/NLSolversBase.jl/blob/master/src/objective_types/oncedifferentiable.jl#L231

`copy(DF)`, with `DF` a `SparseMatrixCSR` returns a full matrix.  For `SparseMatrixCSR`, `copy` is implemented here:

[code]

I gues

[2021-10-05 07:13] amartinhuertas commented on #668
I just realized that, for `SparseMatrixCSC`, there is an specialized `copy` method

[code]

How do you think we should proceed to solve this issue? I guess that ideally one should somehow replicate what it is done in `SparseMAtrixCSC` for `SparseMatrixCSR` ?

[2021-10-05 07:27] amartinhuertas commented on #668
ok, I have double checked that by adding this method

[code]

The example above full works. I will add this method to `SparseMatrixCsr` in a PR.

[2021-10-05 07:38] amartinhuertas commented on #668
Done in PR https://github.com/gridap/SparseMatricesCSR.jl/pull/12. Discussion can continue there. Clossing this issue.

[2021-10-05 07:38] #668 closed

[2021-10-14 02:19] amartinhuertas commented on #584
Hi, @fverdugo ... do you know what else do we need to solve this issue? I can continue contributing ...

[2021-10-14 05:45] amartinhuertas commented on #584
Ok. I will try to take a look (whenever I have some time) at the particular part in which this is carried out ...

[2021-10-14 17:32] radlicka opened #673 "Gridap forces Dirichlet functions to be defined in the interior of the domain"
It seems that functions defining Dirichlet boundaries are not evaluated just on the given boundary, but in all points of the elements, which have a point on any Dirichlet boundary. This behavior makes some implementation more complicated. Simple code describing the issue is attached

[DirichlerForces.zip](https://github.com/gridap/Gridap.jl/files/7348158/DirichlerForces.zip)

[2021-10-14 17:35] radlicka opened #674 "Interpolation - user defined value when the point is out of the mesh"
I would like to use the interpolated values directly in routine, which calculates particle trajectories in the field. Implementation through the return_cache function is straightforward, but there is an issue when the particle trajectory gets outside of the mesh. In that case, the Gridap returns an error with the message: "Point is not inside any cell". Is it possible to avoid this error and e.q.

[2021-10-19 09:19] fverdugo opened #678 "remove fill_entries! and use LinearAlgebra.fillstored!"
Now it is a good time to do this before releasing 0.17.

cc @amartinhuertas

[2021-10-20 22:41] bricearnold commented on #355
@zjwegert Thank you very much for your reply. I tried but i didnt get something. Can you send me your skript?

[2021-10-22 10:24] #678 closed, assigned to amartinhuertas

[2021-10-22 10:26] fverdugo opened #684 "Caching the result of `get_active_model` for instances of `BodyFittedTriangulation`, `BoundaryTriangulation`"

[2021-10-22 18:48] oriolcg opened #689 "Hessian on boundaries not working in Gridap@0.17"
Hi @fverdugo,

I get an error when computing hessians in boundary elements In the new release 0.17, even if the map is linear. Here I attach a small reproducer:

[code]

[2021-10-25 16:27] #689 closed, assigned to oriolcg

[2021-10-25 20:32] oriolcg opened #693 "Error when integrating jumps on skeletons of part of a boundary domain"
Hi @fverdugo ,

I'm facing an error when evaluating terms on the skeleton of part of a boundary (in a mixed-dimensional PDE where one unknown is only defined in the boundary).

The error that I get is the following:
[code]

Do you know what could be the cause?

[2021-10-26 06:19] amartinhuertas opened #695 "Performance improvements in AD for multifield"
Pending from PR https://github.com/gridap/Gridap.jl/pull/687

Issues:
- see https://github.com/gridap/Gridap.jl/blob/82cbf3fec0c830297278281e09a0a1461819b78d/src/MultiField/MultiFieldFEAutodiff.jl#L2
- see https://github.com/gridap/Gridap.jl/blob/82cbf3fec0c830297278281e09a0a1461819b78d/src/MultiField/MultiFieldFEAutodiff.jl#L27
- see https://github.com/gridap/Gridap.jl/blob/82cbf3fec0c83029727828

[2021-10-26 16:52] #693 closed, assigned to nobody

[2021-10-29 10:46] rcontinuum opened #702 "Number of function calls"
Hello,
this is more me trying to understand a bit your code while having solid mechanics as an application in mind. But maybe it is a bit long to ask at Gitter? Generally, `Gridap` is impressive work.

The following code is a bit motivated by your hyperelasticity tutorial and tries to compute the residual vector and the Jacobian matrix for one 4-node bilinear element (QUAD4) with two dofs per node

[2021-11-01 09:18] rcontinuum commented on #702
Hello,

one question and one remark

1. would you be so kind and tell me which Gridap functions are actually doing the cell-wise computations of the "cell" Jacobian and cell residual vector. I mean the 'real' 32 calls to Lv() and 4 calls to P(). That was my initial goal to find them by setting break points in P() and Lv(). But then I got a bit lost in the debugger due to these many calls.

2. Afte

[2021-11-01 14:09] fverdugo commented on #702
For Lv ∘ (∇(du), ∇(u)), its provably this one:

https://github.com/gridap/Gridap.jl/blob/6d0da6ef46e7fe3445ae3260a3ecdc821201c87f/src/Fields/FieldArrays.jl#L626

`∇(du)` leads to a 3-dim array of size (nip,1,nldofs) at each cell (argument b in the linked function), nip and nldofs, being the number of integration points and local dofs in that cell respectovelly. `∇(u) ` leads to a vector of size (n

[2021-11-01 14:30] fverdugo commented on #702
BTW, if you want to learn more about the Gridap internals, you have these resources:

- https://gridap.github.io/Tutorials/stable/pages/t013_poisson_dev_fe/#Tutorial-13:-Low-level-API-Poisson-equation-1
- https://arxiv.org/abs/2109.12818

I think that reading them might be useful in order to look at the sorce code.

[2021-11-01 14:41] rcontinuum commented on #702
I had a look at Tutorial 13, but at a certain point I started digging in your code ... and got lost a bit.

Thank you for your hints! I'll close this issue.

[2021-11-01 14:41] #702 closed

[2021-11-04 11:40] bricearnold commented on #355
@zjwegert Please can you help me? Since two weeks i always dont have the correct solution

[2021-11-04 22:27] zjwegert commented on #355
Hi @bricearnold, sorry I'd completely forgotten to look at this for you. The code below should be something along the lines of what you need. I can't test at the moment but hopefully it puts you on the right track :).
**Define material values:**
[code]
**Define domain:**
[code]
**Define spaces:**
[code]
**Define triangulation and measure:**
[code]
**Define weak form:**
[code]
**Form operator and s

[2021-11-05 10:52] bricearnold commented on #355
@zjwegert i thank you very very much

[2021-11-05 15:23] fverdugo opened #706 "Remove FESolver and derived types"
FESolver et al. are no needed and can be removed to simplify the code.

Since PR #705 it is not needed to use FE solvers in the user code i.e.

[code]
Can be written as
[code]
We can also remove them from the library completely in the next breaking release.

[2021-11-05 15:24] fverdugo commented on #706
To check if removing of `FESolver` will cause trouble in `GridapODEs` cc @oriolcg

[2021-11-05 18:08] oriolcg commented on #706
It should be fine. In `GridapODEs` we have `TransientFESolver` that receives an `ODESolver`. Each `ODESolver` calls `solve!` using a `NonlinearSolver` so no `FESolver` involved. In any case, we could also remove the `TransientFESolver` there to keep things aligned with Gridap. I'll take care of that.

[2021-11-05 19:08] #658 closed

[2021-11-05 21:30] tmigot commented on #629
I tried this again with Gridap 0.17.4, and everything works fine!

[2021-11-07 13:33] LaurentPlagne opened #707 "LU solver with cache"
Hi,
I try to use gridap with a time loop and the default linear solver (lu).
It seems that the LU factorization is done each time because newmatrix is set to true:

function solve!(x::AbstractVector,ls::LinearSolver,op::AffineOperator,cache)
  newmatrix = true
  solve!(x,ls,op,cache,newmatrix)
  cache
end

any hint ?

[2021-11-07 20:13] oriolcg commented on #707
Hi @LaurentPlagne,

In [GridapODEs.jl](https://github.com/gridap/GridapODEs.jl) we have some ODE solvers that re-use the factorization. You can take a look at how this can be done in this function: https://github.com/gridap/GridapODEs.jl/blob/710f76f283f9333c306517207adfaa1846d004d3/src/ODETools/AffineThetaMethod.jl#L42 or here: https://github.com/gridap/GridapODEs.jl/blob/710f76f283f9333c30651720

[2021-11-08 14:29] LaurentPlagne commented on #707
Hi @oriolcg,
thank you very much for your reply and the links to GridapODEs.jl

Before I dive in this time integration layer, I still wonder why the boolean `newmatrix` arg is unconditionnaly set to true.

It seems that the solve! function docstring indicates that one can pass a cache extra argument to prevent this passing from
[code]

and following the code execution I encouter the LinearSolver.j

[2021-11-08 15:43] fverdugo commented on #707
Hi @LaurentPlagne !

Consider these scenarios

## Scenario 1

Solve a collection of systems `A*x_i==b_i` for the same matrix `A` and several rhs `b_i`. We can reuse the numerical setup of the solver since the matrix does not change.

### Option 1 (recommended)
[code]
### Option 2
[code]

## Scenario 2

Solve a collection of systems `A_i*x_i==b_i` for several  matrices`A_i` and several rhs `b_i`, *

[2021-11-08 15:46] LaurentPlagne commented on #707
Crystal Clear !
I did use scenario1/option 1 and obtain a good speedup (x15) !
Thank you very much for your help and the great work on gridap :+1:

[2021-11-08 15:46] #707 closed

[2021-11-08 15:48] fverdugo commented on #707
For questions we have the gitter chat https://gitter.im/Gridap-jl/community But I agree that sometimes long questions deserve an issue

**We do encourage external users to use (and cite) gridap!** The high level API is quite stable (i.e., the functions used in the tutorials are not going to change dramatically, perhaps some renaming at most)

[2021-11-08 15:52] fverdugo commented on #707
BTW, do we really need scenario1/option2 ? (Now I don't remember why I implemented it 😅) Could GridapODEs be implemented in terms of scenario1/option1 instead ?? @oriolcg

[2021-11-08 16:12] oriolcg commented on #707
We can take a closer look at that, there are probably things that could be further optimized (or simplified) in GridapODEs.

[2021-11-10 11:19] aerappa opened #709 "Newest Vertex Bisection"
This is a feature request for the [newest vertex bisection algorithm](https://en.wikipedia.org/wiki/Newest_vertex_bisection). For a very nice overview of the algorithm including MATLAB code see [this paper by Long Chen](https://www.math.uci.edu/~chenlong/Papers/Chen.L2006a.pdf).

Based on preliminary discussion, the interface for generating one level of refinement might be something like

`model_r

[2021-11-10 12:02] fverdugo commented on #709
Hi @aerappa!

The low-level functionality is clear. Now, we need to think a nice high-level API to express the solve/estimate/mark/refine loop in such a way that we can consider several different refinement strategies. Let me think a bit a bout this.

[2021-11-10 14:47] fverdugo commented on #709
Hi @aerappa

as a first step, we can implement a simpler version of the problem and add more complexity later. I think that it can also be a good exercise to learn more Gridap details.

So for the moment I would do:

1. Just refinement of a grid
2. Just refinement of a model (preserving face tags). Except the part related with the face tags, the rest should be easy once the method in step 1) is av

[2021-11-10 14:51] fverdugo commented on #709
And for the moment, I would refine ALL cells so that you don't have hanging nodes.

FESpaces on models with hanging nodes is still not implemented in Gridap, but we are close. We already have the `FESpaceWIthLinearConstraints` that will to the dirty work.

[2021-11-10 22:56] amartinhuertas opened #710 "The divergence of an scalar field in 1D currently returns a VectorValue{1} and it should not ..."
Hi @fverdugo, @santiagobadia, (cc @davelee2804)

the following 1D code crashes during `assemble_matrix` no matter we use gradient or divergence in the bilinear form. (see error backtrace below for full details). The error is caused because either gradient or divergence of a scalar field in 1D returns a `VectorValue{1,T}` instance of length 1, and not an scalar. Thus, `q*∇(u)` is not an scalar, and

[2021-11-10 23:17] davelee2804 commented on #710
...I am not 100% sure this is the same thing, but I thought I should also try and see if the issue presented for 1D skeleton mesh integrals. The following code snippet:

[code]

produces the error:
[code]
I'm not 100% sure this is the same thing, perhaps I'm doing something silly here. However replacing the bilinear operator with
`buqs(u,q) = ∫(mean(q)*jump(u*n_Γ))dΓ` also yields an error: `ERROR:

[2021-11-10 23:22] amartinhuertas commented on #710
Hi @davelee2804 ... have you tried to define `V` as an space of vector-valued functions with just a single component? I guess the issue stems from here.

[2021-11-10 23:50] santiagobadia commented on #710
I think Gridap is not the problem. The gradient is conceptually a vector for a scalar field.
If you write your problem dim-agnostic, you need `q` to be in a vector space.
The product is an inner product `.` between vectors, not the scalar product `*`.
If you write the weak form this way, I think it should fix the issue.

[2021-11-10 23:51] santiagobadia commented on #710
Another approach is to use the divergence operator...

[2021-11-11 00:03] amartinhuertas commented on #710
Ok, that makes sense.The only thing that I wonder is whether the gradient operator for ordinary functions (i.e., univariate functions) has sense at all. Isn't it just the ordinary derivative operator, that given an scalar function returns an scalar function? I guess the answer is NO if you want to have a dim-agnostic code, as you say ...

Note that @davelee2804 is using an space of scalar-valued f

[2021-11-11 00:09] santiagobadia commented on #710
Ok, that is another problem. The div operator only applies to vector fields.

As I said, we must write things in 1D as in any other dimension:

- The divergence does not make sense for scalar functions.
- The gradient is a vector (even in 1D for uni-variate functions).

Another story is that there is a bijective isometry between scalars and vectors in 1D.

But trying to make scalars and vectors in

[2021-11-11 00:17] amartinhuertas commented on #710
Ok. Agreed. I also think it is very bad idea, and the root of many inconsistencies. I have changed to title of the issue to reflect the actual issue that we think we found.

@davelee2804 ... can you please try to replace Float64 by VectorValue{1,Float64} in the reference fe definition for V and see if the problems disappear using bilinear forms **exactly defined as in higher dimensions**?

[2021-11-11 00:19] santiagobadia commented on #710
agreed, easy fix, it is better not to open these doors in the code...

[2021-11-11 07:33] fverdugo commented on #710
I also see it like @santiagobadia

[2021-11-11 11:02] davelee2804 commented on #710
Thanks for the helpful comments @amartinhuertas , @santiagobadia @fverdugo . Yes, I can see why conflating a Lagrangian basis with H1 conformity with a RT basis in 1D could be misleading. After re-defining `V` as a 1D RT test function as suggested by @amartinhuertas both the divergence operator and the facet integral work as expected now.

In fact, this is very useful, as I am exploring dispersion

[2021-11-12 11:23] #710 closed

[2021-11-12 22:59] tmigot opened #711 "Hessian ad multifield"
Thank you @amartinhuertas and @fverdugo for fixing the issue with the MultiField autodifferentiation in #687 . I think there is also the `hessian` function that needs to be fixed. For instance, the following script to get the hessian contribution was working with 0.15.5 but no longer. I tried combining gradient and jacobian, but this also leads too an error. Any idea how to recover this? Thanks!

[2021-11-15 16:08] fverdugo commented on #711
I think that hessian can be implemented following the same lines as the Jacobian. See this file: https://github.com/gridap/Gridap.jl/blob/master/src/MultiField/MultiFieldFEAutodiff.jl

[2021-11-22 08:13] amartinhuertas opened #716 "Replace `SubVector` by `view`/`SubArray` for a future major release"

[2021-11-23 21:39] Aiswaryamg opened #717 "Visualising solution"
Is there any way to visualise the solution without converting to .vtu.
Plot dosen't seem to work.

[2021-11-23 21:44] santiagobadia commented on #717
Yes, with GridapMakie:

https://github.com/gridap/GridapMakie.jl

[2021-11-23 21:45] santiagobadia commented on #717
I close the issue now, let us know if you have other issues

[2021-11-23 21:45] #717 closed

[2021-11-28 12:05] aerappa commented on #709
Hi @fverdugo I finally got some time to start working on this. For now I am just looking at 2d. I noticed that the way cells are stored according to either

[code]
or (seemingly) equivalently
[code]
appear to be just sorted according to the global id of the nodes that define them. It would be more convenient for bisection algorithms if I had a data structure where the cells were sorted in a locall

[2021-11-28 16:17] fverdugo commented on #709
Which reference finite elements are using? Lagrangian elements on simpices should work fine with any ordering. So, I think that you don't need to reorder.

BTW,

[code]

and

[code]
are not equivalent in general. One gives node ids and the other vertex ids. For linear grids nodes and vertices are equivalent, but for high-order grids they are different.

[2021-11-28 18:42] fverdugo commented on #709
@amartinhuertas, is the orientation based on global nodes ids needed any more after your refactoring of the Raviart-Thomas reference element?

If not, we can use a more standard orientation for simplex meshes, ie same sign of det(Jt) in all cells. I think it would simplify things.

cc @santiagobadia

[2021-11-30 13:36] amartinhuertas opened #722 "Issues with `TriangulationView`?"
Hi @fverdugo,

I could narrow down a code that reproduces the issue we have started discussing in Slack.

The code, as suggested, only depends on Gridap, and looks like

[code]
Note that i have used `Ωo=Gridap.Geometry.TriangulationView(Ω,[1,2,3])`, instead of `view(Ω,[1,2,3])`. The former is exactly what we have in `GridapGeosciences` when I use the latter with the triangulation resulting from `C

[2021-11-30 15:28] fverdugo opened #723 "Best strategy to reduce compile times?"
I have compared three main strategies to reduce compile time. I include here the results for the record.

Strategies:

0. Do nothing. Implemented in branch `master` commit https://github.com/gridap/Gridap.jl/commit/cd3b300836cac46ad8137588a2aa2ac881297e29

1. Introduce `@nospecialize` statements in assembly routines as suggested by @goerch. Implemented in branch https://github.com/gridap/Gridap.jl

[2021-11-30 15:48] fverdugo commented on #723
Conclusion: It seems that removing the `@inline` statements (Strategy 2) is the best choice.

I also prefer this than introducing `@nospecialize` since the latter leads to spurious allocations that grow linearly with the size of the assembly loop.

@amartinhuertas can you check if the branch `no_explicit_inline` fixes your killer example?

If your killer example is fixed, I would merge strategy 2

[2021-11-30 15:49] fverdugo commented on #723
cc @oriolcg

[2021-11-30 16:15] fverdugo commented on #722
Even a more minimal example:

[code]

[2021-11-30 23:23] amartinhuertas commented on #722
Solved in PR https://github.com/gridap/Gridap.jl/pull/724

[2021-11-30 23:23] #722 closed

[2021-12-01 06:04] amartinhuertas commented on #723
Why dont you update your local julia version to the latest version? :-)

[2021-12-01 07:03] amartinhuertas commented on #723
might it make sense to downgrade `-O1` in GH CI actions?

[2021-12-01 07:28] amartinhuertas commented on #723
Checked. It fixes the killer example as well. (first call time latencies are comparable to those of @nospecialize)

[2021-12-01 20:40] oriolcg opened #727 "Issue finding cells in interpolate"
Hi @fverdugo,

there is an error in the algorithm for finding the cell where a given point lies for unstructured grids. This error is manifested when a point lies in an element whose vertices are not the closes vertex to the point. See for instance the following example:

![tmp](https://user-images.githubusercontent.com/9356155/144309790-3026569a-b5e4-4d5d-a8fe-181a8595f7d5.png)
:

One possibility

[2021-12-02 06:42] fverdugo commented on #723
Branch `no_explicit_inline` has been merged in PR #726

Closing.

[2021-12-02 06:42] #723 closed

[2021-12-02 06:59] #637 closed

[2021-12-02 06:59] #641 closed

[2021-12-02 07:00] #646 closed

[2021-12-02 07:01] #619 closed

[2021-12-02 07:02] #603 closed

[2021-12-02 07:03] #493 closed

[2021-12-02 07:03] #500 closed

[2021-12-02 07:03] #406 closed

[2021-12-02 07:04] #399 closed

[2021-12-02 07:04] #296 closed

[2021-12-02 07:05] #271 closed

[2021-12-02 07:05] #259 closed

[2021-12-02 07:06] #363 closed

[2021-12-02 07:06] #67 closed

[2021-12-02 07:07] #83 closed

[2021-12-02 07:08] #400 closed

[2021-12-02 18:30] oscardssmith commented on #695
I believe you could just use an array comprehension to fix these. For example, the first could be
[code]
(obviously this could be further cleaned up.

[2021-12-03 06:44] fverdugo commented on #727
@Balaje any thoughts on this?

[2021-12-03 09:35] Balaje commented on #727
Hi @fverdugo @oriolcg ,

I think the best way is to look at the other neighbouring points (I think `knn` does that instead of `nn` https://github.com/KristofferC/NearestNeighbors.jl#k-nearest-neighbor-knn-searches) and see if the correct element is found. I can see that this is what @oriolcg has implemented.

[2021-12-03 09:55] Balaje commented on #727
Also, @oriolcg loops over 3 nearest neightbours right now. Can we also have an option for the level of searching, something like what is done here using `searchMethod` https://doc.freefem.org/documentation/finite-element.html#a-fast-finite-element-interpolator?

[2021-12-03 14:58] oriolcg commented on #727
Actually, I'm only looping for the first and if not found it goes to second and third. So, keeping aside the time of getting the closest 3 vertices instead of only 1, extra work is only done for the pathologic cases.

[2021-12-04 20:29] aerappa commented on #709
@fverdugo It seems the ordering based on GID doesn't matter (or maybe it's getting sorted internally somewhere upon calling `UnstructuredGrid`). I have a basic version of the algorithm working. See attached image for refinement of all the cells on a 3x3 simplicial mesh. Should I make a PR so that we can discuss the code? For instance, I was actually able to avoid manually re-creating the `ref_labe

[2021-12-08 06:33] ConnorMallon commented on #661
Hey @amartinhuertas @fverdugo, seeing as multifield autodiff is fixed it would be nice to also have this functionality. The first problem I am having is in the `change_argument` function:

[code]

The context is when we call the function in a specific sub-domain (trian). The ```_get_cell_dofs_field_offsets(uh)``` can be specialised for the given trian ```_get_cell_dofs_field_offsets(uh,trian)``` e

[2021-12-09 20:47] oriolcg commented on #661
Hi @ConnorMallon , @amartinhuertas , @fverdugo, I'm getting the following error when trying to use autodiff for a problem with mixed-dimensional PDEs (a variable defined in a 2D domain and another defined on one of the boundaries):
[code]
Is this error related to this issue? If not, is it easier to solve?

[2021-12-09 20:58] ConnorMallon commented on #661
Hey @oriolcg, that problem can be solved by adding the triangulation that you are looping over at that point as an argument to the `get_cell_dof_values` function [LOC of fork](https://github.com/gridap/Gridap.jl/commit/a5fd7153e92c421451162908e4ce1e9c2b325fe7#diff-89bb8c41412f11b17822062405e79a1b992e7a1cc02c083b95b15de6c964429bR39) but it will not solve the whole problem since there are also other

[2021-12-09 21:08] amartinhuertas commented on #661
@oriolcg @ConnorMallon I will take a look at it whenever I have some time. Thanks for reporting

[2021-12-09 21:13] amartinhuertas commented on #661
@oriolcg do you have a mwe?

[2021-12-09 22:01] oriolcg commented on #661
I'll prepare one reproducer and post it here

[2021-12-14 12:20] amartinhuertas opened #732 "Decouple `Triangulation` objects from integration loop (WIP)"
Discussion resulting from meeting 14/12/2021 @santiagobadia - @amartinhuertas

**Please, do not read yet, until the issue becomes more definitive, work in progress**

**Note**: Draft issue description to be completed/reviewed by @santiagobadia. Once completed, it has to be  discussed with care with @fverdugo, which has devoted profound thinking to this in a variety of different scenarios. This wil

[2021-12-14 14:05] fverdugo commented on #732
Hi @amartinhuertas @santiagobadia,

The refactoring done for v0.17 should make possible to implement hybrid methods with minor changes (minor at least in comparison with what is exposed above). When I designed v0.17 I was aware that at some point we are going to implement hybrid methods and I have prepared several parts of the code for this purpose (even though I have had no time to implement hybr

[2021-12-14 15:07] tmigot commented on #711
Closed via #731

[2021-12-14 15:07] #711 closed

[2021-12-15 16:44] fverdugo commented on #732
Hi @amartinhuertas @santiagobadia

I have implemented an (incomplete) draft about how to deal with quantities defined on the cell boundaries. The additions to the library are here (at a later stage we can reorganise code) https://github.com/gridap/Gridap.jl/blob/cell_boundary_draft/src/cell_boundary_draft.jl

With this draft, I am able to evaluate and visualise, on the cell boundaries, fields defi

[2021-12-22 04:07] amartinhuertas commented on #732
For the records, please note the following comment https://github.com/gridap/Gridap.jl/commit/936ebd3e990f2a8c3bc4f145d6d99534e191fc5e#r62267265

[2022-02-11 06:11] amartinhuertas commented on #732
I think we can close this issue. More or less agreed on which path to follow in the meantime.

[2022-02-11 06:11] #732 closed

[2022-02-11 12:56] nannaberre opened #741 "Issue using MultiFieldFESpace on interface"
It seems that it is not possible to integrate over a interface when a space is defined on the same interface as a part of a MultiFieldFESpace (containing the two domains that define the interface + the interface).

[code]

A suggestion was to define the FE space on Gamma.plus, but that requires to also define the measure (d\Gamma\) on Gamma.plus and therefore creates another problem if one needs t

[2022-02-12 23:36] dalbrit opened #743 "Solvability in mean zero spaces"
In the following simple Poisson solver in 2d with periodic BCs, I expect to use a zero mean space. The implementation below, without the zero mean constraint, works; when I add in constraint=:zeromean, everything compiles up until the solve. Any ideas?

[code]

[2022-02-13 11:59] fverdugo commented on #741
I can reproduce the error.

[2022-02-22 11:39] fverdugo commented on #743
I can reproduce the error. It's a bug. Fortunately, this one is easy to fix (WIP).

[2022-02-22 11:57] fverdugo commented on #743
@dalbrit  The fix is coming in PR #746

In some situations, it is possible to solve a system with a singular matrix if one provides an initial guess to the linear solver. In other cases, the linear solver is able to deal with a singular matrix and compute a least squares solution. (I have not checked what is playing out in this particular case).

BTW, I would use a higher integration degree (e.g.

[2022-02-22 11:57] #743 closed

[2022-02-22 11:59] fverdugo commented on #741
@nannaberre some update:

I have identified the cause of the problem, but there is no quick fix for this. This would require some work.

[2022-02-25 11:08] ericneiva opened #747 "Interpolate funs at arbitrary points inside _active_ domain?"
Hi @fverdugo, @oriolcg, @Balaje,

I want to interpolate a FE function defined in an _active_ triangulation (i.e., a strict subset of the background triangulation) at a set of points inside the active domain.

I think the machinery finds the points in the cells correctly, but the cells are indexed according to the background triangulation :point_right: https://github.com/gridap/Gridap.jl/blob/154ee

[2022-02-28 07:58] santiagobadia opened #749 "Fixing Newmark test"
Hi @oriolcg

Could you fix the following test? (the test suite was commented)

https://github.com/gridap/Gridap.jl/blob/630f3c6b7169f04791e36fd459042e868b5d2320/test/GridapODEsTests/ODEsTests/ODESolversTests.jl#L158

Thanks!

--Santi

[2022-02-28 09:47] oriolcg commented on #747
To me it make sense. Does `get_active_model` fall back to `get_background_model` in case no active triangulation has been specified? If that's the case, I don't see any reason for not to make the change.

[2022-02-28 10:19] oriolcg commented on #749
Done in PR #750

[2022-02-28 18:21] ericneiva commented on #747
Yes, under `get_active_model` we restrict the model to the active triangulation. If we pass active = background then it devolves a trivial restriction.

Ok, then, if you agree, I'll prepare a branch with the changes and push.

[2022-03-02 09:13] #747 closed

[2022-03-02 21:20] umbriquse opened #753 "ERROR When Calculating symmetric_gradient on Trial Function"
Hello, I've been going through the tutorials in an attempt to better understand this nice package. In an attempt to change the weak form of Tutorial 17: Transient Poisson equation I ran into an issue regarding the symmetric_gradient call. Shown below is the example code
that produces the reulting Error: `caused by: MethodError: no method matching symmetric_part(::VectorValue{2, Float64})`.
[code]

[2022-03-03 06:48] fverdugo commented on #753
Hi @umbriquse! It looks that your space is scalar-valued, but I guess you really want a vector-valued one in this example.

[2022-03-03 20:39] umbriquse commented on #753
Thank you for your help @fverdugo! I made some changes and that particular error is no longer occurring. Sadly, I'm running into another error that I don't quite understand. This error is:
[code]
This was thrown after moving the test, trial, and interpolated space to a Vector-valued space. Below is the revised code and new error message. The error seems to be coming from the `divergence` call in t

[2022-03-04 06:52] fverdugo commented on #753
This looks like the strong residual. In finite elements one typically uses the weak one.

[2022-03-04 09:09] vishnuuk20 opened #757 "No command to find eigen value and eigen vector"
I am trying to develop a code as part of my project in Julia. But I am unable to find any function to find eigen value and eigen vector for a vector or tensor using gridap. But the same is available in Tensors.jl and LinearAlgebra.jl. I would like to get a solution for this problem

[2022-03-04 09:29] fverdugo commented on #757
Transform the tensor to an array with `get_array` and then use LinearAlgebra.

[2022-03-04 09:43] vishnuuk20 commented on #757
I have already tried using get_array function, which will definitely produce eigen value and eigen vector, but in the form of array. I want to get the results in the form of SingleFEfieldfunction. Please note that the operators such as ε or ∇ produces such type of results.

[2022-03-04 09:46] fverdugo commented on #757
This can be easily done with the \circ operator. Paste here a small MWE so that we are able to tell how to do this.

[2022-03-04 12:29] vishnuuk20 commented on #757
I am using the code below. The function σEigen(ε) is not working for the developed eigenvalue and eigenvector. `
using Gmsh: gmsh
using Gridap
using GridapGmsh
using Gridap.Algebra
using Gridap.TensorValues
using Gridap.ReferenceFEs
using LinearAlgebra
using PyPlot

gmsh.initialize()
gmsh.option.setNumber("General.Terminal", 1)
L = 1.0
h = 0.25
p1 = gmsh.model.geo.addPoint(0, 0, 0, h)
p2 = gmsh.mo

[2022-03-04 16:03] fverdugo commented on #757
Try this:
[code]

[2022-03-04 16:40] vishnuuk20 commented on #757
It is working.
My sincere thanks to you

[2022-03-04 16:43] #757 closed

[2022-03-08 00:18] ConnorMallon commented on #661
hey @amartinhuertas, have you had a chance to take a look at this?

[2022-03-10 09:22] fverdugo opened #760 "Error when evaluating cell field"
This leads to an error (a check failed):
[code]

[2022-03-10 14:33] fverdugo opened #762 "writevtk for empty triangulations"
This does not work:
[code]

We need this, e.g. in parallel computations when some subdomain is empty.

[2022-03-10 14:41] fverdugo commented on #762
@amartinhuertas @ericneiva @oriolcg , someone volunteering to fix this?

[2022-03-11 11:31] fverdugo commented on #760
closed via #761

[2022-03-11 11:31] #760 closed

[2022-03-15 09:59] fverdugo commented on #762
WIP in #766

[2022-03-15 14:07] fverdugo commented on #762
closed via #766

[2022-03-15 14:07] #762 closed

[2022-03-15 20:37] umbriquse commented on #753
Thank you again @fverdugo! I rewrote the residual into the weak form and am now encountering another vague error:
`ERROR: LoadError: ArgumentError: tuple must be non-empty`.
I've traced this to the `∂tt(u)` call, but beyond that I'm not sure what the issue is or how to debug this.

I really appreciate the help so far, so thank you!

[code]

[code]

[2022-03-15 21:42] oriolcg commented on #753
Hi @umbriquse , you are trying to solve a 2nd order ODE with the `ThetaMethod` that's only for first order ODEs. The only method currently implemented in Gridap for 2nd order ODEs is the `Newmark` method. You can check how it is used here: https://github.com/gridap/Gridap.jl/blob/c58976a21c5721aee61c86c80dee9fc76b79267c/test/ODEsTests/TransientFEsTests/Transient2ndOrderFEOperatorsTests.jl#L69

[2022-03-15 23:24] umbriquse commented on #753
That test file was exactly what I needed! Thank you!

[2022-03-15 23:24] #753 closed

[2022-03-18 10:51] #749 closed

[2022-03-18 11:01] amartinhuertas opened #768 "AutoDiff of interpolate_everywhere fails. Mismatch among FE space vector type and dual number types."
Hi @fverdugo,

the following MWE reproduces an error we have found when using AutoDiff (ForwardDiff) to differentiate a function that calls Gridap's `interpolate_everywhere`.

As shown in the below, the error can be workarounded using `interpolate_everywhere!` and vectors of DoFs of the appropriate `eltype` (i.e.. dual number types).

The cause of the error is a mismatch among the FE space vector

[2022-03-18 11:02] amartinhuertas commented on #768
cc @wei3li @santiagobadia

[2022-03-18 11:11] fverdugo commented on #768
@amartinhuertas IMO the workaround already looks better than anything else I can think of.

[2022-03-18 11:32] amartinhuertas commented on #768
Ok. So we should find a way to automatically trigger the workaround whenever autodiff tries to differentiate interpolate_everywhere. Correct?

[2022-03-18 11:39] fverdugo commented on #768
Or perhaps use the workaround directly. Since I guess it is not easy to write a rule for interpolate_everywhere. The variables you differentiate wrt are not passed explicitly to interpolate_everywhere, but captured in the given clousure...

If you find a way to define this rule, nice, but perhaps it is not worth the effort since the workaround is just  a couple on lines longer than the target code

[2022-03-18 15:14] fverdugo opened #770 "2nd order derivatives fail for high order P elements"
**[The code below requires PR #769]**

This fails:
[code]
Independent actions that make the test work:
- removing the call to `simplexify`
- using `m=1`
- using `u(x) = sum(x)^m` and `ReferenceFE(lagrangian,Float64,m)`  (i.e., an scalar valued function)

[2022-03-20 00:06] amartinhuertas commented on #768
Ok. I understand what you mean. We also though about this. We can define a new type, say, ParameterizedFEFunction (instead of a closure) to make the parameters explicit.

[2022-03-20 00:08] amartinhuertas commented on #768
Sorry ... ParameterizedFunction, **NOT** ParameterizedFEFunction, solved in the previous post.

[2022-03-23 05:02] amartinhuertas commented on #661
Hi @oriolcg ... could you please help us and prepare one reproducer of this issue? I want to work with both @ConnorMallon reproducers and yours, so that I can be sure that I am finding a solution that considers both cases (if they are diferent)

[2022-03-23 06:32] #770 closed

[2022-03-23 08:26] oriolcg commented on #661
Hi @amartinhuertas , yes I forgot about this issue. Here I attach a reproducer:
[code]

[2022-03-23 08:35] amartinhuertas commented on #661
Thanks!

[2022-03-24 22:22] tmigot opened #774 "Nonsquare-jacobian MultiField autodiff"
I used to be able to compute the derivative of the residual with respect to parameters with a small twick of the jacobian function within Gridap [the old solution under Gridap v0.15](https://github.com/JuliaSmoothOptimizers/PDENLPModels.jl/blob/bd161996144034721bc3e0c584fd9c76d6b403da/src/test_autodiff.jl#L38). I thought I could upgrade to Gridap 0.17 to catch up on your amazing progresses and giv

[2022-03-24 22:48] tmigot opened #775 "Hessian-vector product or jacobian-vector product with autodiff"
It is often convenient for such large-scale problems to evaluate matrix-vector products instead of evaluating the whole matrix every time. Have you considered using automatic differentiation for such operations?

[2022-03-25 08:27] fverdugo commented on #774
@tmigot I can reproduce the error.

[2022-03-30 10:01] learning-chip opened #776 "Read meshes in MFEM or VTK format to build Gridap models"
I am attempting to port [MFEM examples](https://mfem.org/examples/) to Gridap. They should be useful additions to Gridap's existing tutorial examples.

The first step is to read [example mesh files](https://github.com/mfem/mfem/tree/master/data) in [MFEM-supported mesh formats](https://mfem.org/mesh-formats/). Most are in [MFEM's own format](https://mfem.org/mesh-format-v1.0/) (`*.mesh`) and some

[2022-03-30 10:53] fverdugo commented on #776
Hi @learning-chip, great initiative to port examples from MFEM!

Before deciding which is the best option, I wonder if the .mesh or .vtk files coming from MFEM  contain all the info we need. In particular I am thinking about the face labels. E.g., If you don't import face label info you will only be able to apply boundary conditions on the entire boundary.

[2022-03-30 13:06] fverdugo commented on #776
Then, It seems to contain all info we need. If the .mesh format it is not very complex and it is well documented, perhaps a Julia parser is a good option. If it is short and pure Julia, we can even add it to Gridap directly instead of creating another repo for this.

[2022-03-31 08:21] learning-chip commented on #776
@fverdugo  The MFEM `*.mesh` is a rather structured and simple text file, so I write a parser in Julia, by almost line-by-line translating from MFEM's C++ parser ([Mesh::Loader](https://github.com/mfem/mfem/blob/v4.4/mesh/mesh.cpp#L3954) and [Mesh::ReadMFEMMesh](https://github.com/mfem/mfem/blob/v4.4/mesh/mesh_readers.cpp#L39-L106)).

Uncollapse the hidden block for complete parser code: (just to

[2022-04-26 05:50] fverdugo opened #778 "Cartesian model with periodic boundaries + simplexify"
This crashes with Gridap#master:

[code]

Trying to figure out the problem...

[2022-04-26 06:08] fverdugo commented on #778
This line forgets about periodic boundaries:

https://github.com/gridap/Gridap.jl/blob/1fb3dc9abf8c47685637901bd14a74e4355a9492/src/Geometry/UnstructuredDiscreteModels.jl#L120

[2022-04-26 08:40] #778 closed

[2022-04-29 23:27] umbriquse opened #780 "Removing/Minimizing Potential Gibbs Phenomenon From Model"
I seem to be running into the [Gibbs phenomenon](https://en.wikipedia.org/wiki/Gibbs_phenomenon) for a transient thermal model.

The desired behavior is to model an object being heated externally (transient Poisson solution with a driving term at the boundary). What I expect is that Figure 1 should show a temperature distribution that is symmetric about the center, whose endpoints are at the maxim

[2022-05-02 21:05] umbriquse commented on #780
Was able to fix my issue. My `ReferenceFe` had a too small order, so I increased it to `2` and increased the degree of my Measure to `4`.

[2022-05-02 21:05] #780 closed

[2022-05-04 08:21] oriolcg opened #782 "H2-conforming FE spaces"
Currently there are no $H^2$-conforming FE spaces, right? I see that there are Bezier reference FEs already implemented and I think that they can be used to generate spaces with continuous gradients (IGA). I'm not very familiar on how to do it, do you think it would be possible?

[2022-05-11 18:05] umbriquse opened #784 "Quick Question: Gradient of a VectorValue is a Tensor?"
Hello, I'm running into some functionality that I don't understand. The `res` function from the MWE (shown below) has a printout with the result `u = (0.0, 0.0, 0.0)      ∇(u) = (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)`. That shows that performing the gradient function on a vector returns a tensor. The desired functionality would be for the gradient function to return a vector.

### Question

[2022-05-11 19:17] fverdugo commented on #784
Hi @umbriquse! the gradient of a vector function is indeed a tensor function.

If you want to obtain a vector from a vector, then you are thinking of another diff operator (the curl perhaps?) but not the gradient.

Which is the definition of the quantity you want to compute?

[2022-05-11 19:24] umbriquse commented on #784
I think It's technically called a jacobian.

Say if I have a vector `v` where `v = (x1, x2, x3)`.
What I would like to compute would be `dv/dx = (dv/dx1, dv/dx2, dv/dx3)`

[2022-05-11 19:29] umbriquse commented on #784
Ah, I see that you are using the [jacobian](https://en.wikipedia.org/wiki/Jacobian_matrix_and_determinant) definition and that my understanding of that was incorrect. It's the main diagonal of the jacobian matrix that I am after. Sorry for the distraction.

[2022-05-11 19:29] #784 closed, assigned to nobody

[2022-05-11 19:41] umbriquse commented on #784
[Here's](https://en.wikipedia.org/wiki/Gradient) a Wikipedia article about what the functionality of the gradient operation I assumed.
This bit of syntax might be confusing to other users as well. My background is in physics, and the linked article is primarily the definition I have experience with.

[2022-05-12 04:51] fverdugo commented on #784
Yes, you are looking for the diagonal of the gradient/jacobian

[2022-05-18 07:45] JonasIsensee opened #785 "Symmetry detection of terms"
Hi,

I noticed that this
[code]
yields `issymmetric(get_matrix(op)) == false`
while this
[code]
works as expected.
I wouldn't expect general symbolic simplification to work but this simple case had me tricked for quite a
while since it is just down to order of execution.

[2022-05-18 08:16] fverdugo commented on #785
Hi @JonasIsensee !

Gridap is not a based on a CAS engine. So we do not have any mechanism at the moment to try to figure out if the matrix is symmetric. Perhaps we could add symbolic simplificacions in the future.

[2022-05-19 00:30] kishore-nori opened #787 "Gradient of Integration domain contribution involving `SkeletonTriangulation`"
Currently, I am unable to take the gradient of integration `DomainContribution` with respect to the FEFunction's degrees of freedom, when the integral involves `SkeletonTriangulation`. The following is the MWE:

[code]

The error `Gridap.gradient(f,uh)` call produces is as follows:

[code]

[2022-05-23 11:32] amartinhuertas commented on #787
Hi @kishore-nori,

I have came up with a piece of code that I think **partially** addresses the issue. Can you check that it produces the correct result? I say partially above because there are still some issues (marked with comments below) which we still have to think how to address. The most concerning one is the one tagger with "MAJOR ISSUE".

Take a look and let me know if you have doubts, etc

[2022-05-24 01:51] amartinhuertas commented on #787
For the records, we confirmed that it produces the correct result.